[2015-02-12 11:27] tagliala commented on #596
@sbatbayar sorry I need more details, please take a look at the contributing guidelines: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

A github repository with a minimal application that shows the issue would be perfect

[2015-02-14 07:25] weavermedia opened #597 "How to override default_scope in mutli-tenant app (with Devise)"
I have `default_scope` on most of my models that scopes by `current_user.company`. I'm using this gem on my sign up page which means there is no tenant set.

When the uniqueness validator runs on `@user.email` the default_scope prevents the validation from running properly (because `company_id` is nil) and therefore always looks like a unique result.

My user model:

[code]

runs this query when v

[2015-02-14 15:49] tagliala commented on #597
Thanks for pointing this out. At the moment I'm very busy and I cannot investigate. Any help is really appreciated here

[2015-02-15 03:23] weavermedia commented on #597
@tagliala If you point me in the right general direction I'd be happy to help.

I'll take a look at the code in the meantime and see if I can figure it out.

[2015-02-15 09:54] tagliala commented on #597
Sorry, never used this gem in this way and I'm also trying to avoid default scopes entirely.

[2015-02-15 10:08] tagliala commented on #597
take a look here

http://stackoverflow.com/questions/7212489/rails-3-validate-uniqueness-ignores-default-scope-on-model

[2015-02-16 00:24] weavermedia commented on #597
My only idea is that unscoped should be included here:

    # lib/client_side_validations/active_record/middleware.rb

    8  def self.is_unique?(klass, attribute, value, params)
    ...
    41   !klass.where(relation).exists?
    42 end

    # should this be > !klass.unscoped.where(relation).exists?

Unfortunately I don't yet know how to hack a gem and try out my own version of it. I just spent a

[2015-02-16 08:03] tagliala commented on #597
@weavermedia I would really like to help you but I can't at the moment, sorry. Can't also make promises, I'm very busy with my job and life

[2015-02-22 14:33] rdudacz opened #599 "Validation messages are not showing up"
Hi there,

I am using Rails 4.1.4 and gems in following versions:
[code]

In `applications.js`:
[code]

and in the view:
[code]

`bundle` passed well.

But when I test it out, the error (validation) messages never show up. All validation rules are specified in the `User` model.

`config/client_side_validations.rb`:
[code]

I've tried also precompile assets, but without any success.

Any help with

[2015-02-24 07:33] tsujp opened #600 "Gem Name Conflict"
Whilst not really an issue it's not known for a few people to include:

`gem "client_side_validations", github: "DavyJonesLocker/client_side_validations", branch: "master"`

Currently the fetched version, upon including `gem "client_side_validations"` is the old 3.2.6 repo no longer maintained. Can the authors chuck this onto http://rubygems.org/ just for the sake of ease-of-access for those who w

[2015-02-24 11:30] tagliala commented on #600
@tsujp this gem was unmaintained for a long while.

A lot of things changed, I'm just waiting some more time before releasing a new gem just to make sure there are no major issues

[2015-03-04 00:07] dmur commented on #494
Any updates?  Is this project deprecated?

[2015-03-04 00:35] dmur commented on #595
Since a lot of people seem to be having this issue (I encountered it as well), perhaps some prominent documentation that the released gem is no longer maintained would be in order?

[2015-03-04 09:38] tagliala commented on #595
@dmur I need to release a new version but I'm having a busy time, sorry

[2015-03-04 09:39] tagliala commented on #494
@msokk please use the current master branch

closing here

[2015-03-04 09:39] #494 closed

[2015-03-05 03:35] distributedlife opened #601 "Content Security Policy (CSP) and injecting the script tag"
Hi,

for reference:
- client_side_validations 4.2.0 from git://github.com/DavyJonesLocker/client_side_validations.git (at master)
- client_side_validations-simple_form 3.1.0 from git://github.com/DavyJonesLocker/client_side_validations-simple_form.git (at master)
- rails 4.2.0

We're introducing CSP into our project and we are trying to remove all unsafe_inline javascript. The act of injecting scr

[2015-03-05 06:24] tsujp commented on #600
That's a fair point my man. I'm looking forward to it :)

[2015-03-05 10:11] tagliala commented on #601
I prefer the `a` solution but I suppose it will be hard so I would go for the `b)` solution.

What about browser support of this `nonce` stuff?

[2015-03-05 11:52] ivendorin opened #602 "custom validation fails on hidden field"
Hi,

I am trying to do a custom validation but it does not seem to work . Here is my code

validate :presence_of_inventory_item_id

def presence_of_inventory_item_id
        if self.inventory_item_id.present?
        else
            errors.add(:name, "inventory item not present")
        end
end

in the view

<%= f.text_field :name %>
<%= f.hidden_field :inventory_item_id %>

[2015-03-05 12:20] tagliala commented on #602
Please take a look here: https://github.com/DavyJonesLocker/client_side_validations#custom-validators

[2015-03-05 12:26] ivendorin commented on #602
Thanks for your prompt response . I have already checked it and don't think it is different from what i need . I am validating a presence of hidden field and trying to put an error on the name field . Had it not been a hidden field a simple validate :inventory_item_id :presence => true would have worked .

I also tested by adding the message in local and creating a custom js validator file as ment

[2015-03-05 12:34] tagliala commented on #602
could you please provide a repository with the minimum amount of code showing the issue?

[2015-03-05 12:41] ivendorin commented on #602
I have written my model and view in brief here https://gist.github.com/ivendorin/3f174fc13c9042fc6227

[2015-03-05 12:52] tagliala commented on #602
Sorry but I have few time and the more detail are here the better it is.

Please provide me at least the following details: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

[2015-03-05 12:59] ivendorin commented on #602
I have update the gist please check it again https://gist.github.com/ivendorin/3f174fc13c9042fc6227

I am using  client_side_validations (4.2.0) and Rails 4.0.1

[2015-03-05 13:03] ivendorin commented on #602
here is another gist of htm generated after the validation fails https://gist.github.com/ivendorin/0d7979a638ed4a4eeceb

[2015-03-05 13:35] ivendorin commented on #602
Please let me know if you need any other information , if I have not been able to provide sufficient information then please guide me how I can do that . I really need it to make it work

Thanks,

[2015-03-06 00:03] distributedlife commented on #601
Support is interesting. The nonce feature set is part of CSP2. All browsers support CSP1 which is the requirement for external files unless `unsafe-inline` is sent.

There is a transition state where you can send out both the `nonce` header and the `unsafe-inline` header. Browsers that support nonce are not meant to execute `unsafe-inline` as per the [spec](http://www.w3.org/TR/CSP2/#directive-scr

[2015-03-06 10:21] tagliala commented on #601
option a should be pretty hard (the rake task must inspect all forms and generate scripts, it also need to deal with multiple languages). It would require a deep rewrite of this gem

Is that how [judge](https://github.com/joecorcoran/judge) work?

Sorry I'm still having busy time in these days, can't dig by myself

[2015-03-06 14:11] ivendorin commented on #602
If anyone can help me on this it would be great

[2015-03-06 17:19] tagliala commented on #602
@ivendorin information are enough for me but unfortunately my time at the moment isn't.

I don't know when I can help you

The best you can do is to provide a repository which reproduces the scenario. Take a look here: https://github.com/DavyJonesLocker/client_side_validations/issues/594#issue-55070646

Of course any help would be really appreciated

[2015-03-09 03:47] distributedlife commented on #601
Thanks. I'll take a look into how judge works. Otherwise we'll look to apply option `b`.

[2015-03-13 11:47] Jim2002 opened #603 "Getting wrong number of arguments (3 for 2) error with my form_for [Solution: use the master branch]"
I'm getting `wrong number of arguments (3 for 2)` error with my `form_for`
Does client_side_validations support Rasil 4.1.1  ?
I've been googling, it looks like a lot of people are having the same issue.

[2015-03-13 13:14] tagliala commented on #603
@Jim2002 please use version from master branch. The old gem is not supported and I didn't release a new one. I'm having a really busy time, sorry

gem 'client_side_validations', github: 'DavyJonesLocker/client_side_validations'
gem 'client_side_validations-simple_form', github: 'DavyJonesLocker/client_side_validations-simple_form'

[2015-03-14 03:59] reconstructions opened #604 "Gem installation causes error: number of arguments (3 for 2)"
When I install version 3.2.6 of this gem with Rails 4.2.0, run `bundle install`, require `rails.validations` in my `application.js`, and restart my server, I get the following error from the first line of all my forms: `wrong number of arguments (3 for 2)`.  My typical form signature looks like this:

`= form_for(song, html: {class: "fields-form" }) do |f|`

I also tried changing to vanilla form s

[2015-03-14 09:41] tagliala commented on #603
reopening for tracking purposes

[2015-03-14 09:41] tagliala commented on #604
https://github.com/DavyJonesLocker/client_side_validations/issues/603#issuecomment-78965071

[2015-03-14 09:41] #604 closed

[2015-03-14 15:42] reconstructions commented on #604
Sorry, this other issue posting must have gone up after I took a look at existing issues but before I finished writing my post.

[2015-03-14 20:08] tagliala commented on #604
@reconstructions don't worry, that is because I closed the previous one

[2015-03-16 11:25] tagliala opened #605 "Issue with turbolinks and forms with same name"
Turbolinks enabled

How to reproduce

1. Login form (#new_user)
2. Signup Form (#new_user)
3. Browser Back

Login form will validate with the signup validators.

[2015-03-17 16:12] tagliala commented on #605
Detailed explanation:

Let's say I have a devise login form (`#new_user`) which validates `email` and `password`.

So CSV will set `window.ClientSideValidations.forms['new_user']`. Fine

There is also a link to a signup page. By mystake I click on it and now I have a signup page with a devise form (`#new_user`) which validates `email`, `password` and `password confirmation`.

Again, CSV will set `

[2015-03-17 16:44] tagliala opened #606 "Support turbolinks out of the box"
Any side effect in doing this?

[code]

instead of

[code]

plus another gem that adds

[code]

and as a side effect fires that event twice (page:load + page:change)?

@bcardarella thoughts?

[2015-03-21 16:46] #606 closed

[2015-03-23 20:06] bdmac opened #610 "Release a gem version?"
Just trying to figure out what's going on w/development on this gem. There appears to be active work happening but the latest released gem version is 3.2.6 and it's way outdated. Are there any plans to release an updated version of this gem in the near future or should we just run against master (ick)?

[2015-03-23 20:11] tagliala commented on #610
yes, it is planned but I'm having little time.

Leaving this open for tracking purposes

[2015-04-01 14:43] xrimpy opened #611 "Does not work on BootStrap Modal Boxes"
Trying to figure out a solution, myself

[2015-04-01 14:56] tagliala commented on #611
maybe you just need

https://github.com/DavyJonesLocker/client_side_validations#enabling

 `$(new_input).enableClientSideValidations();`

something like:
[code]

[2015-04-01 15:52] xrimpy commented on #611
I am not using AJAX modal boxes

But still tried, to make sure no code is conflicting I have setup a fresh minimal Rails project (4.2)

with Boostrap 3.3.4 install through bower

Following is the form

	    <%= form_for Yo.new, validate: true do |f| %>
			  <div class="field">
			    <%= f.label :title %><br>
			    <%= f.text_field :title %>
			  </div>
			  <div class="actions">
			    <%= f.sub

[2015-04-01 16:08] tagliala commented on #611
@xrimpy the problem is that CSV doesn't enable itself on hidden fields, so if they are showed within a modal you should run the above js code.

If you can provide me a working example and push the code on github I can take a look

[2015-04-02 03:59] xrimpy commented on #611
You can find the code at

https://github.com/xrimpy/bootstrapcsv

Thanks for the pointers, I understand the BS.modal logic

I think I am unable to connect the disableClientSideValidations

The following does not work

$(new_yo).disableClientSideValidations();

I tried

$('.new_yo').disableClientSideValidations();
$('#new_yo').disableClientSideValidations();

No luck

[2015-04-06 16:39] tagliala commented on #611
Don't know what to do here:

![screen shot 2015-04-06 at 18 38 51](https://cloud.githubusercontent.com/assets/556268/7007658/3a2425c8-dc8c-11e4-8821-d2056a361dcb.png)

[2015-04-11 11:44] alekseyl opened #612 "Simple suggestion how to break brute attack on uniqueness filter"
Uniqueness validators are possibility for brute attack.
What do you think on making some monkey patch like this: restricting frequency for request to be made from one IP. Something like: fist five - immediately, second five - not faster than one in second, third five - not faster than in 2 secs, fourth five - five seconds per request.

It changes code on both side on server side you will give resp

[2015-04-11 12:05] tagliala commented on #612
Hi,

in the next commit on the master branch I will disable the uniqueness validator by default.

AFAIK, on the server side there are options like https://github.com/kickstarter/rack-attack and https://github.com/sinatra/rack-protection

I prefer to remove this feature at all, leaving the implementation to the user because.

Giving that, PR with client side support rack-attack/rack-protection erro

[2015-04-11 12:39] dm1try commented on #612
@tagliala +1 for disabling by default, anyway the user will be aware about security issues if he deicide to enable this middleware.
BTW `rack-attack` is a good choice for those situations!

[2015-04-11 16:41] tagliala commented on #612
The disable by default commit is on its way.

If you don't use uniqueness at all, I suggest to completely unload the middleware.

[code]

[2015-04-11 19:04] tagliala commented on #612
Feel free to comment here or submit a PR if there are any mistakes (I'm not an English native speaker)

https://github.com/DavyJonesLocker/client_side_validations/commit/698022655c90cc581f113aa0a49f545c13c94a9d

[2015-04-13 03:19] dhampik opened #613 "Wrong number of arguments with v 3.2.7"
Previously was using the following version of the gem with Rails 4.2:
[code]
And it was working fine, no issues
Then I saw, that new version released, so I updated to:
[code]
And got a lot of errors in my tests like this one:
[code]

Is there some breaking change in past release or master is still not ready for rails 4.2?

BTW, thanks for your efforts on keeping this gem updated!

[2015-04-13 08:46] tagliala commented on #613
@dhampik ffff I missed the chance to properly set dependencies in the 3.2 stable branch.

I just want to confirm that the 3.2 branch is unmantained and will be unmantained.

As per README: https://github.com/DavyJonesLocker/client_side_validations#versioning I want to confirm that version 3.2.7 will not work with Rails > 3.2. Please keep using the master branch

I had to release 3.2.7, but the 4.2

[2015-04-13 08:46] #613 closed

[2015-04-13 09:42] dhampik commented on #613
Thanks for info, @tagliala!

[2015-04-14 08:24] tagliala commented on #612
@alekseyl I'm thinking about to completely remove the uniqueness middleware because of this brute force attacks.

Any improvement to the readme (eg: if you enable this feature you should use rack-attack to mitigate brute force attacks... etc.) is very welcomed

[2015-04-15 03:19] kylesziv commented on #24
I'm currently implementing this in a project but I'm not getting it to work. Was this fixed?

[2015-04-17 00:18] spawnge commented on #611
+1 ! I have the exact same problem. When I do this:
[code]

it doesn't add client side validations so my form and I can see "test" in my console. However if I directly type `$('document').find("form#sign-up").enableClientSideValidations();` in the console validations work. This is so frustrating does anyone have a suggestion/solution ?

[2015-04-17 08:27] tagliala commented on #611
@spawnge could you please fix  the above repository so I can take a look?

[2015-04-17 13:53] spawnge commented on #611
@tagliala I tried to recreate the issue (https://github.com/spawnge/modal-client) but it's actually working fine. The problem was that I had tabs in my modal so I had to use the shown.bs.tab event handler (and I needed some sleep too !). sorry for the false alert.

[2015-04-17 15:43] tagliala commented on #611
do not worry, glad you solved! :+1:

[2015-04-19 22:07] tagliala commented on #611
@spawnge if you could confirm that there are no issues inside a bootstrap modal, given that a proper javascript is executed to enable validations on new elements, I will close this one

[2015-04-20 19:52] spawnge commented on #611
I had no issue with the bootstrap modal you can try it here https://github.com/spawnge/modal-client however I'm using simple form so I'm not a 100% sure it is working with normal forms.

[2015-04-20 22:12] douglasmiller commented on #610
Do you have any ETA for the 4.2 version to be released to rubygems? I'd like to use this in a Rails 4.2 project, but I'm unwilling to include a unstable gem.

[2015-04-20 22:16] tagliala commented on #610
@douglasmiller at the moment I really can't. There is something in this gem that I probably need to do before releasing this gem that will probably break things

[2015-04-22 07:45] xrimpy commented on #611
Works

Here is a link to a working Bootstrap rep without simple form

https://github.com/xrimpy/bootstrapcsv

I could not get to the core of the problem, my machine crashed I set up a new machine and it just worked.

Thank you very much.

[2015-04-22 07:45] #611 closed

[2015-04-22 10:53] tagliala commented on #611
@xrimpy you're welcome, glad you solved :+1:

[2015-04-29 05:01] distributedlife commented on #601
For reference, judge did what we were looking for. Thanks for your help.

[2015-04-29 08:58] tagliala commented on #601
@distributedlife option a?

[2015-04-29 23:49] distributedlife commented on #601
Yeah, option a. With `judge` there is no inline javascript.

[2015-04-30 08:50] tagliala commented on #601
I supposed that

Is configuring judge harder than configuring csv?

[2015-04-30 10:12] lessless commented on #535
I assume this is still an issue?

[2015-04-30 11:22] tagliala commented on #535
#603

locking here :lock:

[2015-05-13 07:09] TangMonk opened #614 "Can update the rubygems version?"
and simple_form plugin.

thanks

[2015-05-13 07:52] tagliala commented on #614
Sorry, still can't :)

Duplicate of #610, closing here

[2015-05-13 07:52] #614 closed

[2015-05-13 07:53] tagliala commented on #614
Also, simple form plugin needs a fix #38 and I must fix this before releasing

[2015-05-13 12:55] TangMonk commented on #614
thanks, :D

[2015-05-14 21:49] adekbadek opened #615 "Regex in generated script differs from regex in model"
Hi, I have a format validation in my user model to allow all letters (non-latin too), numbers, dashes and underscores:
  validates_format_of :username, :with => /\A[\p{L}0-9\\-\_\s]+\z/
Non-latin chars pass the server-side validation, however the client-side shows errors. I looked at the script generated under the form and it has the following regex:
  ^[\\\p{L}0-9\\\\-_\\\s]+$
which means somethi

[2015-05-15 06:22] TangMonk opened #616 "js validation not works with bootstrap collapse"
If I add the `collapse` class to `form`, the form validation will not work

and also with `display:none`

[2015-05-15 06:42] TangMonk commented on #616
Ok, I figure it out:

change the `app/assets/javascripts/rails.validations.js`

[code]

[2015-05-15 06:43] TangMonk commented on #616
and i wanna to know, why not validate the hide input element?

[2015-05-15 08:00] tagliala commented on #616
Hi, it is a design choice and it helps in cases like:

[code]

Hope it helps

[2015-05-15 08:00] tagliala commented on #616
Closing here

[2015-05-15 08:00] #616 closed

[2015-05-15 08:01] tagliala commented on #615
Hi,

javascript does not support \A and \Z.

It seems there is a bug here. I need to take a look

[2015-05-15 08:13] TangMonk commented on #616
But it seems can disable the validation for specify field if the field do not need validate:

[code]

So I recommend enable validate for the hidden field

[2015-05-19 07:31] TangMonk opened #617 "bootstrap input-group-addon with help-block shows weird"
[code]

it looks like fine :
![image](https://cloud.githubusercontent.com/assets/3498786/7697608/d47b463a-fe3b-11e4-9635-da990f533f34.png)

But when validation failed and append a `help-block` following the input:

it loos weird:

![image](https://cloud.githubusercontent.com/assets/3498786/7697633/0a7e96ce-fe3c-11e4-90b3-61df732dcf1b.png)

[2015-05-19 10:32] tagliala commented on #617
Hi,

this is because they need a special management.

I'm using this workaround

[code]

[2015-05-19 10:32] tagliala commented on #617
Probably there is a better way I need to investigate

[2015-06-03 20:27] saturnflyer commented on #599
I'm having this same problem. Not really sure what's causing it and I'm still looking into it.
I'm using the code as of 5c1c63e3deb62f1578e1a0b1ad9d4302a4e0fc56 in my rails 4.2 app

[2015-06-03 20:54] tagliala commented on #599
I will take a look

btw the turbolinks plugin is not needed anymore, the master branch supports turbolinks out of the box

[2015-06-03 20:54] tagliala commented on #599
A reduced test case uploaded on github will speed up my work

[2015-06-04 01:26] saturnflyer commented on #599
Looking into this further. I'm still really not sure what happened but it's working for me now.
I had been tweaking the `field_error_proc` and went back to the default. It must have been user error on my part

[2015-06-23 05:34] zenspider commented on #603
Busy for 3 months? Can you please release a fix?

[2015-06-23 08:20] tagliala commented on #603
@zenspider meanwhile we have another issue and this is a major release. If I have to drop a feature this is the right moment :)

Please keep using the master branch, sorry

[2015-06-23 13:20] alekseyl opened #619 "broken logic"
Hi there.

I think you broke the logic of conditional validation here:

https://github.com/DavyJonesLocker/client_side_validations/blob/master/lib/client_side_validations/active_model.rb

[code]

So it's looks like you wanted either:

result = result || run_conditional(validator.options[:if])

OR

elsif result = can_force_validator?(attr, validator, force)

so it will make sense because if you get

[2015-06-29 05:52] thenadz opened #621 "Breaks &block version of FormBuilder#select"
After enabling the root version of this gem from Github, invoking `FormBuilder#select` using the final `&block` argument, the value is never invoked. Looking at the gem source, this is not surprising given that the final block argument seems to be excluded when replacing the FormBuilder functions.

Rails version `4.2.2`.

[2015-06-30 03:49] MitchellGeere opened #623 "Conditional validators firing"
I am using conditional validations on app that all work sans client_side_validations but not with. I don't get any exceptions, I tried to follow the path to see if there is a silent error but nothing, it is simply not picking up the fields that need to be conditionally validated. (client_side_validations works great for the non-conditional ones!)

I tried with the sources below and none worked - a

[2015-06-30 08:10] tagliala commented on #623
as a workaround, try with `presence: { if: :condition? }`

[2015-06-30 09:53] tagliala opened #624 "Add collection_radio_buttons and collection_check_boxes helpers"
There are some new helpers in Rails 4, such as

* http://apidock.com/rails/v4.0.2/ActionView/Helpers/FormBuilder/collection_radio_buttons
* http://apidock.com/rails/v4.0.2/ActionView/Helpers/FormBuilder/collection_check_boxes

csv should deal with the above methods

[2015-06-30 10:50] #624 closed

[2015-06-30 11:25] tagliala commented on #621
closed via #622

[2015-06-30 11:25] #621 closed

[2015-07-01 12:08] tagliala commented on #623
I cannot confirm. Are you using any particular form builder? Could you please provide a repo showing your issue?

Please take a look at: https://github.com/tagliala/csv-test

Relevant commit: https://github.com/tagliala/csv-test/commit/18c11b50b9976825f3f311c9052fb46987410435

![screen shot 2015-07-01 at 14 07 57](https://cloud.githubusercontent.com/assets/556268/8454058/ae869d9a-1ffa-11e5-861d-b8

[2015-07-01 12:08] #623 closed

[2015-07-05 01:55] thenadz commented on #615
There's another issue that fits this title so adding here...

Regexes are being stripped of spaces. For example, `/\A\s*(?:\+?(\d{1,3}))? ([-. (]*(\d{3})[-. )]*)?((\d{3})[-. ]*(\d{2,4})(?:[-.x ]*(\d+))?)\s*\z/` (international phone number) becomes `^\s*(?:\\+?(\\d{1,3}))?([-.(]*(\\d{3})[-.)]*)?((\\d{3})[-.]*(\\d{2,4})(?:[-.x]*(\\d+))?)\\s*$`.

[2015-07-05 18:48] MitchellGeere commented on #623
my apologies for the late reply.

I'm not using any particular form builder other than what comes with Rails 4.2 no DSL's etc. just straight ERB's using an unmodified FormBuilder from ActionView::Helpers.

However ran your example and it worked just fine.

I updated my rails to match yours (that was the only difference) and tried running again and it only worked on some fields (condition is the sa

[2015-07-05 19:03] MitchellGeere commented on #623
UPDATE

The culprit was turbolinks. This fixed my problem:

[code]

I hide the field until the user checks a checkbox then I reveal it (display: block vs display: none) at which it should be validated. Javascript just never got to it, now it does. Thanks for the help Geremia (@tagliala)

[2015-07-05 19:04] tagliala commented on #623
You're welcome, glad you solved

[2015-07-06 01:59] MitchellGeere commented on #623
Even though I got it all working nicely in one case I still couldn't get it working in another. I didn't think it was part of an issue so I posted it on Stackoverflow.

http://stackoverflow.com/questions/31236809/validate-the-presence-of-a-value-in-another-field-using-client-side-validations

[2015-07-09 13:53] adityashankert opened #626 "server side validation is not getting triggered (mongoid)"
when using client_side_validations with mongoid the remote validation is not getting triggered
versions :
  client_side_validations : 4.2.0
  mongoid : 4.0.2

model code
[code]

form code
[code]
script code
[code]

[2015-07-09 18:36] tagliala commented on #626
It is fine because the remote uniqueness validator is disabled by default because of security concerns and will be probably removed before the final release of 4.2.0 version

From readme: https://github.com/DavyJonesLocker/client_side_validations#security

Let me know

[2015-07-10 08:56] adityashankert commented on #626
it is working now and if you remove in the final release how can we get that functionality hope there will be some way to write custom implementation when you remove it fully as it very important feature although there is security issue.

[2015-07-10 09:00] adityashankert commented on #626
And now the issue is i'm getting 500 error

[2015-07-10 09:01] tagliala commented on #626
The idea is to extract the remote validators in a plugin (that I will not maintain). More info here: #612

[2015-07-10 09:02] adityashankert commented on #626
@tagliala now im getting 500 error :(

[2015-07-10 09:32] adityashankert commented on #626
So I went through the code as I saw it is raising exception because I am using mongoid . Can you please tell me how to override that is_unique? function

[2015-07-10 09:53] tagliala commented on #626
That's because you probably need https://github.com/DavyJonesLocker/client_side_validations-mongoid that is not up to date.

I will update that plugin too

[2015-07-10 09:57] adityashankert commented on #626
But I cant use it now as it has some lock with mongoid version can you fix those basic things so that I can use it by when can we expect your update? and let me know if you want any help I will also contribute to it :) ... For now I am overwriting the is_unique? method for now let me know when it is updated I will start using it.

[2015-07-10 11:01] tagliala commented on #626
Feel free to fork that project but I'm working on it.

[2015-07-10 11:18] tagliala commented on #626
https://github.com/DavyJonesLocker/client_side_validations-mongoid/tree/mongoid4

There are 2 failing specs, PR are welcomed

[2015-07-10 13:38] tagliala commented on #626
All specs pass, please give a try

[code]

[2015-07-10 20:18] SupremeA opened #627 "client side validations gem cant install with client side validations mongoid"
I am trying to install the gem

    gem 'client_side_validations-mongoid', github: 'DavyJonesLocker/client_side_validations-mongoid', branch: 'mongoid4'

This gem is dependent on client_side_validations version 4.2.0
When I bundle it cant find the 4.2.0 version

I saw your update to the mongoid add-on gem but that requires client_side_validations 4.2.0. When I try to install that version it cant s

[2015-07-11 00:23] tagliala commented on #627
you should use
[code]

[2015-07-11 03:06] SupremeA commented on #627
That got it! Thanks!

[2015-07-11 03:06] #627 closed

[2015-07-11 09:50] tagliala commented on #627
You're welcome!

I don't know when I will release a new gem, but it would take a while

[2015-07-13 18:23] tagliala commented on #626
@adityashankert any news? Can I merge mongoid4 branch with master?

[2015-07-13 18:24] adityashankert commented on #626
I will check tomorrow morning and let u know was busy with something else

[2015-07-13 18:25] tagliala commented on #626
ok, thanks!

[2015-07-14 07:04] adityashankert commented on #626
It is still going to active record validator and returning 500 should I need to do something which will make it look for mongoid validator class or it will automatically work?

[2015-07-14 07:23] tagliala commented on #626
could you please post your gemfile?

[2015-07-14 07:26] adityashankert commented on #626
Gemfile details for mongoid validations

[code]

[2015-07-14 07:43] tagliala commented on #626
Working here

Sample repo: https://github.com/tagliala/csv-test-mongoid

[2015-07-14 07:45] tagliala commented on #626
![screen shot 2015-07-14 at 09 44 55](https://cloud.githubusercontent.com/assets/556268/8668601/0ae1855c-2a0d-11e5-8991-1b310e7c46c4.png)

Closing here but feel free to comment

[2015-07-14 07:45] #626 closed

[2015-07-14 08:04] adityashankert commented on #626
Can you explain me how you are detecting which middleware to look for ClientSideValidations::Mongoid or ClientSideValidations::ActiveRecord? because I use activerecord and mongoid both in my application...

[2015-07-14 10:52] tagliala commented on #626
Sorry, never used this gem in that way.

Let me know if you have news

[2015-07-14 11:26] adityashankert commented on #626
So as far as I have observed gem is deciding which core it should used based on if that component is defined in [client_side_validations.rb](https://github.com/DavyJonesLocker/client_side_validations/blob/master/lib/client_side_validations.rb) but it will only work if we are using one type of orm but if I use multiple orm's i.e., mongoid,active_record in same app it won't work instead of this if w

[2015-07-14 12:07] tagliala commented on #626
This could be a great chance to completely remove this middleware from the gem, as I intended to do

Are you available to maintain this feature in a separate repository?

[2015-07-14 12:18] adityashankert commented on #626
Sure thing but only on weekends I can contribute fully.... Is it ok?

[2015-07-14 14:19] tagliala commented on #626
it is ok for me

[2015-07-17 07:48] FelipeKoblinger opened #628 "Not working anymore with reform 2.0.0 and newer"
Hello! The latest version of reform gem (2.0.0 and newer) isn't working anymore with Client Side Validations (tested with latest git commit 4f43c922f2065054bba2cd56965270c81c4347be). The script tag comes empty in validators hash.

I've found two solutions (thanks @niedhui for the help). First was to add `client_side_validation_hash` method to `Reform::Form` instance. I've made a initializer file c

[2015-07-17 09:30] tagliala commented on #628
Hi,

thanks for reporting this

I'm not going to include gem-specific code in the main client side validations repo

you could start e new plugin forking this one: https://github.com/DavyJonesLocker/client_side_validations-simple_form

Let me know if you are interested

[2015-07-18 03:55] FelipeKoblinger commented on #628
I've never made a gem before. But I can try :)
I need to do anything special after forking?

[2015-07-18 08:30] tagliala commented on #628
feel free to ask if you need more info

you should fork, rename (something like replacing `SimpleForm` with `Reform` and `simple_form` with `reform`), reset version number, replace existing code with your own code, fix tests, publish the gem to rubygems

I'm using appraisal for testing the gem against multiple rails versions. Info here: https://github.com/thoughtbot/appraisal

Guides:
http://guide

[2015-07-18 19:14] jmarceli commented on #514
I'm also having problems with `focusout`. My working solution is:

    window.ClientSideValidations.callbacks.element.after = function($element, message, callback) {
      // here your focusout code
      // $element is the element which triggers focusout event
    }

For me it seems that `focusout` event is somehow intercepted by clientside validations gem.

[2015-07-18 19:19] jmarceli commented on #534
Does anyone has any working solution? Maybe some sample code? I'm having problems with triggering my custom remote validation on selected input.

I've tried:
1. triggering `change` event
2. executing `isValid` on input like this:

    $('form [data-name=width]').isValid($('form')[0].ClientSideValidations.settings.validators)

(it returns `true` but doesn't trigger my remote handler)

[2015-07-18 22:47] tagliala commented on #514
@jmarceli I would need a failing test case

Could you please open a new issue? You should also specify which version of the gem you are using

[2015-07-19 17:24] jmarceli commented on #514
Sorry for the mess. I was just inspecting the old code and found this workaround, but `focusout` seems to be working as well (at least in my case).

[2015-07-19 19:25] tagliala commented on #514
@jmarceli don't worry

Can I close this issue?

[2015-07-19 22:05] jmarceli commented on #514
For me it's OK.

[2015-07-19 22:49] tagliala commented on #514
thanks. closing here

[2015-07-19 22:49] #514 closed

[2015-07-20 06:39] jmarceli commented on #534
My "good" solution is to execute following script to trigger selected input validation:

    $input = $('#validated_input')
    $form = $input.closest('form')
    $input.data('changed', true).isValid($form[0].ClientSideValidations.settings.validators)

I've added this solution as the wiki page https://github.com/DavyJonesLocker/client_side_validations/wiki/Manually-trigger-input-validation

[2015-07-22 18:10] ipmsteven commented on #534
@jmarceli this works, but ideally I just want a valid method that return `true` or `false` and in `isValid` function it also add extra side effect like add and show validation error message when failed

[2015-07-22 19:29] jmarceli commented on #534
As I remember (I might be wrong) if you don't change `data('changed', true)` it wont trigger validation but only returns true/false. Correct me if I'm wrong.

    $input = $('#validated_input')
    $form = $input.closest('form')
    result = $input.isValid($form[0].ClientSideValidations.settings.validators)
    // result will be true or false

[2015-07-27 13:12] tkbky commented on #53
Is this issue resolved yet? In my rails 4.2.3 app, the confirm password message still appear on the password field instead of the password confirmation field. FYI, I'm using the master branch of this gem.

[2015-07-29 06:55] nishanthan144 opened #629 "is twitter typeahead conflicts client side validation? (CSV 3.0)"
I am using [client side validation](https://github.com/DavyJonesLocker/client_side_validations)(v3.0.13) gem in my rails(v3.0.20) app. Recently I added [twitter's typeahead.js](https://github.com/twitter/typeahead.js/)(v0.10.2) for auto suggest.

I have a model named Insurance and the column 'name' is mandatory. When I submit a form with these two js files loaded, I get javascript error **Cannot r

[2015-07-29 08:41] tagliala commented on #629
Sorry, your version is no longer supported. I will not take a look but I will leave this issue open.

Even if the issue is still present on the master branch and we manage to fix this, I will not backport the fix to 3.0 branch

[2015-07-29 09:05] shivabhusal commented on #328
see this question for answer:
 http://stackoverflow.com/questions/10466132/clearing-error-messages-in-client-side-validations-rails-gem/31695854#31695854

[2015-07-31 04:55] tkbky opened #630 "Password confirmation error shows on password field instead of password_confirmation field"
Version of client side validation: master branch
Version of rails: 4.2.3

Model validation

[code]

Form snippet

[code]

Script tag snippet

[code]

[2015-08-06 14:44] sajjadmurtaza49 commented on #603
wrong number of arguments (3 for 2)

= form_for @category, validate: true do |f|

[2015-08-06 14:55] sajjadmurtaza49 opened #631 "ArgumentError - wrong number of arguments (3 for 2)"
Whenever i try to use  client_side_validations, i always found ArgumentError - wrong number of arguments (3 for 2).

Am using form_for

= form_for @category, validate: true do |f|

[2015-08-06 15:52] sajjadmurtaza49 commented on #631
My problem is solved with
gem 'client_side_validations', github: 'DavyJonesLocker/client_side_validations'

[2015-08-06 15:52] #631 closed

[2015-08-17 10:46] ahmadhasankhan opened #632 "ActionView::Template::Error"
Hey is this compatible with Rails4?

I am getting this exception.
[code]

[2015-08-17 14:20] tagliala commented on #632
Master branch works

Duplicate of #603

[2015-08-17 14:20] #632 closed

[2015-08-17 14:52] ahmadhasankhan commented on #632
Tried 4-2-stable blanch and works fine.

[2015-08-20 07:45] ahmadhasankhan opened #633 "An error occurred while installing client_side_validations (4.2.0)"
### Gemfile.
[code]
### When running Bundle command:

[code]

[2015-08-20 07:59] tagliala commented on #633
Cannot confirm.

Which version of ruby are you using?

very same Gemfile with ruby 2.1.0:
[code]

[2015-08-20 08:00] tagliala commented on #633
[code]

[2015-08-20 08:05] ahmadhasankhan commented on #633
[code]

[2015-08-20 08:13] tagliala commented on #633
I don't have a linux machine, but tests on travis run fine

https://travis-ci.org/DavyJonesLocker/client_side_validations-simple_form/jobs/68007333

[code]

Do you mind to update your bundler gem?

[2015-08-20 09:02] ahmadhasankhan commented on #633
Yep, thanks very much.

Updating bundler helped.
Bundler version 1.10.6

Its working like charm...

[2015-08-20 09:02] #633 closed

[2015-08-20 12:39] tagliala commented on #633
you're welcome

[2015-09-09 20:49] betesh commented on #521
Does anyone have a workaround for this?

[2015-10-01 05:41] sajjadmurtaza49 opened #635 "Validation is not working"
In Model
 validates :category_name, presence: true

In Form

  = form_for @category, validate: true do |f|
    div class="col-xs-4"
      = f.label :category_name
      = f.text_field :category_name,:placeholder => "Electronics" , class:"form-control"

Application Js
 //= require rails.validations

__________________________Initializer

ClientSideValidations::Config.disabled_validators = [:uniquen

[2015-10-01 06:46] sajjadmurtaza49 commented on #635
This was dua to morris js

[2015-10-01 06:46] #635 closed

[2015-10-01 08:00] tagliala commented on #635
Thanks :+1:

[2015-10-05 15:59] kjakub commented on #603
hm, bad this is not working

[2015-10-05 16:09] tagliala commented on #603
please use the master branch

[2015-10-07 15:12] muffinista opened #636 "is_unique? check fails on MySQL and probably other storage engines"
In 3.2.7, ClientSideValidations::ActiveRecord::Middleware generates a SQL query that uses syntax which doesn't work in MySQL, and possibly other engines (I've only found matching syntax in Oracle):

The query is generated [here](https://github.com/DavyJonesLocker/client_side_validations/blob/master/lib/client_side_validations/active_record/middleware.rb#L22)

[code]

This generates a query along t

[2015-10-07 15:20] tagliala commented on #636
Sorry for the poor testing.

I must remove the uniqueness validator. There are security concerns (information disclosure). If you roll back to 3.2.6 please disable the uniqueness validator

[2015-10-16 21:39] tagliala commented on #460
Fixed via #637

[2015-10-16 21:39] tagliala commented on #615
Fixed via #637

[2015-10-19 15:47] lcguida commented on #630
I've experienced this too. Using master branch and simple_form plugin.

[2015-11-10 14:54] AJFaraday opened #639 "Allow a re-load of the client side validations"
I've been working with client side validations in rails 3.0 and discovered that there was no simple way to add validations to any asynchronously loaded forms. (I've had a quick look at the master branch and it doesn't appear to be possible there.

Locally, I've saved the function at the top of the file in a varable named `clientSideValidationInit` and added this method for removing existing callba

[2015-11-10 14:55] AJFaraday commented on #639
(I appear to be unable to add labels to this, but it should probably have 'feature request' and 'javascript')

[2015-11-10 17:40] tagliala commented on #639
Does this wiki help?

https://github.com/DavyJonesLocker/client_side_validations/wiki/Validating-dynamically-added-forms

[2015-11-23 14:34] Sharj commented on #603
I had been using this fix for quite some time and it worked.
Today I tried to setup the project again and it couldn't install the gem using

`gem 'client_side_validations' , github: 'DavyJonesLocker/client_side_validations'`

Error while doing `bundle install`

`NoMethodError: undefined method 'spec' for nil:NilClass`
`An error occurred while installing client_side_validations (4.2.0), and Bundler

[2015-12-16 23:29] doz87 opened #640 "Rails 4.2.2 not responding"
I've installed the gem as per the instructions, the app is not responding at all to it.
The only thing I can think of is that I'm running Rails 4.2.2 and it looks like the gems version is only up to 4.2.0

[2015-12-17 00:09] #640 closed

[2015-12-17 20:56] tagliala commented on #630
I do not have a solution for this, feel free to submit a PR with proper tests

[2015-12-17 20:57] tagliala commented on #630
Refers to #53, read throught that thread, didn't understand what is going on. :)

[2015-12-18 13:21] tagliala commented on #53
If there is someone still interested in this issue, let's continue on #630.

Please note that I don't have a fix and I'm looking for help

:lock:

[2015-12-18 13:44] tagliala commented on #630
The problem is that CSV has no javascript support for this feature.

Brian's code at https://github.com/DavyJonesLocker/client_side_validations/issues/53#issuecomment-8312139 doesn't work.

This code
[code]
https://github.com/DavyJonesLocker/client_side_validations/blob/master/coffeescript/rails.validations.coffee#L198

runs all validations against the non-confirmation field

Please also note that

[2015-12-21 14:48] tagliala commented on #628
Closing here but feel free to comment

[2015-12-21 14:48] #628 closed

[2015-12-29 19:05] #460 closed

[2015-12-29 19:05] #615 closed

[2016-01-04 22:22] teaearlgraycold opened #642 "Manually call validations for form from Javascript?"
Is there a method for doing this?

[2016-01-04 23:16] tagliala commented on #642
Does this wiki help? https://github.com/DavyJonesLocker/client_side_validations/wiki/Manually-trigger-input-validation

[2016-01-05 00:06] teaearlgraycold commented on #642
Cool, thanks!

[2016-01-05 00:06] #642 closed

[2016-01-05 11:37] tagliala commented on #642
you're welcome :+1:

[2016-01-05 14:35] teaearlgraycold commented on #642
So that others may have a solution upon reaching this page, I've pasted my small function here.

Since the wiki page warns about selecting multiple inputs simultaneously I'm using this code:

[code]

[2016-01-07 16:21] tagliala commented on #610
Done!

[2016-01-07 16:21] #610 closed

[2016-01-07 16:22] tagliala commented on #603
CSV 4.2.0 released :)

[2016-01-07 16:22] #603 closed

[2016-01-07 17:27] douglasmiller commented on #610
Fantastic news! Thanks!

[2016-01-07 17:39] tagliala commented on #610
I'm just waiting for Brian enable me so I can also release simple form and mongoid plugins

[2016-01-11 19:44] iFurt opened #643 "Problem with js_regex dependency gem within AWS ElasticBeanstalk"
rake assets:precompile raises error :
rake aborted!
  LoadError: cannot load such file -- js_regex
  /var/app/ondeck/config/application.rb:12:in `<top (required)>'
  /var/app/ondeck/Rakefile:4:in `require'
  /var/app/ondeck/Rakefile:4:in `<top (required)>'
  /opt/elasticbeanstalk/support/scripts/check-for-rake-task.rb:21:in `<main>'
  (See full trace by running task with --trace)

And puma's logs:

[2016-01-11 19:51] tagliala commented on #643
@janosch-x any hint?

[2016-01-11 21:59] janosch-x commented on #643
Seems js_regex hasn't been installed. Right now I don't see how this could have anything to do with js_regex or the way it's referenced in client_side_validations. It's probably more of an AWS EB issue. @iFurt you could `eb ssh` onto the server and run `gem list js_regex -i`. That will print out whether js_regex is installed or not. If it's not installed, perhaps you can install it manually with `

[2016-01-12 12:19] iFurt commented on #643
Yeap, I've installed it manually during ssh session. Now gem list js_regex -i returns true. Trying to solve the problem with customizing .ebextension dir as described in http://stackoverflow.com/questions/13642171/
Thank you for pointing direction to work on.

[2016-01-12 14:11] iFurt commented on #643
Problem solved with transfering js_regex gem to vendor dir of my app. Thank you for help.

[2016-01-12 14:11] #643 closed

[2016-01-12 14:14] tagliala commented on #643
Glad you solved

I'm asking if `bundle` is not supposed to solve this... I mean, I don't have this issue on heroku/mina based deploys

[2016-01-13 09:06] iFurt commented on #643
Yes, within Heroku it works fine with bundle. The problem seems to be with AWS EB when gem is a git repo.

[2016-01-13 10:16] tagliala commented on #643
@iFurt you can use the new released 4.2.0 gem instead of pointing to the master branch

[2016-01-13 10:30] tagliala opened #645 "Rails 5 compatibility"
- [x] Make all ruby tests pass
- [x] Make all javascript tests pass
- [x] Use Method#prepend instead of alias_method_chain
- [x] Add javascript support for case insensitive confirmation validator
- [x] Wait for a `rack >= 2.0.0` compatible version of Sinatra

[2016-01-13 17:52] tagliala commented on #645
It should be done, please giva a try to

[code]

[2016-01-16 14:32] SebDE commented on #645
It worked perfekt for me - many thanks ! Just no problem with the simple-form-plugin (only small deprecated warning)

[2016-01-16 14:39] tagliala commented on #645
@SebDE 'cause the simple-form plugin still makes use of `alias_method_chain`, I will start a new branch there

[2016-01-21 13:12] arturtuii commented on #645
Single error was found in the form submit when validating the first time and an error occurs, it is not possible to send the form again

[2016-01-21 13:14] tagliala commented on #645
does this happen only on rails5?

[2016-01-21 13:21] SebDE commented on #645
@arturtuii can you post a example of the behaviour or the code - i just tested with my application (under Rails 5) and I'm able to submit the form every time without problems - if there are no validation errors.

[2016-01-21 14:26] arturtuii commented on #645
Found error now, occurred in rails.validations.custom. This working perfectly, very good this release.

[2016-01-21 14:27] tagliala commented on #645
glad to hear that :+1:

[2016-01-29 11:51] AJFaraday commented on #639
It does, now I've moved up a version.

[2016-01-29 11:51] #639 closed

[2016-02-01 20:12] ndran commented on #599
I was having this same issue on my local machine. I quit my rails server ( ctrl + c ), and then ran it again ( rails s ) and it was working. I originally forgot to un-comment the lines in "config/client_side_validations.rb"

[2016-02-01 20:21] tagliala commented on #599
Closing here, this should not be an issue anymore or it should be related to conditional validators

[2016-02-01 20:21] #599 closed

[2016-02-24 16:41] kjakub opened #647 "Multi Step Form double click next"
I have followed wiki on https://github.com/DavyJonesLocker/client_side_validations/wiki/Validation-in-Multi-Step-Form

It seems alright working, but when validation on certain step fail, i see validation error then if i correct it in input field and directly click on next button again then i have to click 2x to go next step. First click -> only validation message disappear. Checked in console and

[2016-02-27 18:53] assimovt opened #648 "Security: Uniqueness validator with scope exposes all data"
There is an issue I've noticed with the gem, which exposes all data of the associated object when uniqueness validation with scope is used. What's interesting is that uniqueness validator has been disabled via initializer. You can find a sample rails app showing this issue here: https://github.com/assimovt/csv_uniqueness_issue To see it, just start the rails server. Could someone look at it? Thank

[2016-02-27 19:22] tagliala commented on #648
@assimovt I'm aware of this issue and it is also stated in the readme:

https://github.com/DavyJonesLocker/client_side_validations#security

ClientSideValidations::Config.disabled_validators = []
Note that the FormBuilder will automatically skip building validators that are disabled.

I would like this to bring this feature out of the main gem.

[2016-02-27 19:27] assimovt commented on #648
I have it [disabled](https://github.com/assimovt/csv_uniqueness_issue/blob/master/config/initializers/client_side_validations.rb#L4), that's the point that it does not make difference, with it or without, still exposes data.

[2016-02-27 19:29] tagliala commented on #648
Sorry, I will take a look asap

[2016-02-27 19:31] assimovt commented on #648
:+1:

[2016-02-27 22:12] #648 closed

[2016-02-27 22:12] tagliala commented on #648
Just found the source of the issue: https://github.com/DavyJonesLocker/client_side_validations/blob/master/lib/client_side_validations/active_model.rb#L90

The uniqueness validator passes `{ title: nil }` as `force` parameter in this case, so we must check that if the validator is disabled before the switch statements

Please give a try to the master branch

Thanks for reporting this

[2016-02-28 13:00] assimovt commented on #648
@tagliala Awesome, this fixes the issue. How about ```4-2-stable```, is it going to be updated? Or will you publish a new gem with this fix?

[2016-02-28 13:03] tagliala commented on #648
@assimovt I'm going to merge 4-2-stable with master, release a new gem and backport this commit to 3-2-stable branch

[2016-02-28 13:47] assimovt commented on #648
Thank you!

I've been thinking, what if uniqueness validation is needed, why would this gem expand associated object and dump it's data into the DOM? That's probably another bug and a bigger security flaw?

[2016-02-28 13:55] tagliala commented on #648
Sorry, I'm not the original author of this gem. I'm aware of security issues (= data disclosure) in that part, but I really want to get rid of that feature

Refers to https://github.com/DavyJonesLocker/client_side_validations/issues/636#issuecomment-146228032

[2016-03-24 15:53] stevenm opened #649 "wrong number of arguments (given 1, expected 2..4) - on SELECT fields"
After installing Ive had to go over all my forms ( even the ones Im not looking to validate ) and make all my select fields validate: false

heres the errors ...

wrong number of arguments (given 1, expected 2..4)

Extracted source (around line #71):

        def select_with_client_side_validations(method, choices, options = {}, html_options = {}, &block)
          build_validation_options(method,

[2016-03-24 18:45] tagliala commented on #649
Could you please reformat your post with [Markdown](https://guides.github.com/features/mastering-markdown/) and providing a failing test case or a failing application, as well as any information required here: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue?

[2016-03-25 13:04] jayeshdalwadi opened #650 "client side validations not triggering this validation ."
This is my model validation but this validation not reflating on UI can someone  help me what wrong for this validation..

validates_exclusion_of :callout_three, in: ->(sitelink) { [sitelink.callout_two, sitelink.callout_one,sitelink.callout_four]}, message: 'should not be the same'

Thanks.

[2016-03-29 11:07] fsauter opened #651 "BootstrapForm with namespaced model in an engine does not include any validator"
Hi together,

I try to use the current master branch of client_side_validations for a [BootstrapForm](https://github.com/bootstrap-ruby/rails-bootstrap-forms) (namespaced model) in an engine. Unfortunately the script block does not contain any validators. Do you have any idea why? It should include at least the presence validator, or not? Is it because the [bootstrap_form/form_helper](https://gith

[2016-04-04 19:49] weavermedia commented on #424
For anyone copy/pasting @bcardarella's lines above - there's a typo.

Should read:

[code]

[2016-04-04 20:57] tagliala commented on #424
@weavermedia thanks, comment updated fwiw :+1:

[2016-04-05 18:02] paulolieuthier commented on #640
@doz87 what was the problem? How did you fix it?

[2016-04-05 18:15] tagliala commented on #640
@paulolieuthier this should not be a problem anymore

[2016-04-05 18:18] paulolieuthier commented on #640
Yeah, I just figured I had to restart the rails server after installing the gem. Stupid. :)

[2016-04-07 06:55] FelipeKoblinger commented on #629
Hello! I don't know if this helps, but I've a problem when using typeahead too.
I'm using latest (-1) version of Client Side Validations (commit f819f7c769d3876fe00926301a037dae28276ed1) with Rails 4.2.6 and Ruby 2.3.0.

I guess this is because Typeahead creates an extra input element that is not hidden (but you can't see it). When form is submitted, the Client Side Validations tries to validate i

[2016-04-07 10:21] tagliala commented on #629
@FelipeKoblinger thanks. Could you please consider submitting a PR and a failing test case?

BTW I would go for
[code]

[2016-04-10 15:07] mahendhar9 opened #652 "Errors don't show up inline"
Hello.
Thanks for the awesome gem.
The issue is, I am unable to make the error messages appear inline. I have uncommented the proc in client_side_validations.rb

This is my signup form. What am I doing wrong here :(

[code]

[2016-04-11 23:23] oasisweng opened #653 "undefined method `email' for XXX when using other fields to sign up with devise!!"
I use Devise for authentication. But I did not use email but phone number instead.

However, I still have `:validatable` set up for validating password, except I set `email_required` to false to prevent validations of email field.

But when I used client_side_validations, it prompted me `undefined method `email' for <Staff ...>` error.

I fixed it by adding `attr_accessor :email` to my Staff model

[2016-04-12 08:30] #653 closed

[2016-04-12 08:35] oasisweng opened #654 "error message always shows outside of my settings"
I set up a :horizontal-password wrapper that is inherited from :horizontal-form. It is the same with a minor twist that error message is contained along side with a progress bar.

[code]

Supposedly, when I render the snippet.
`<span class="help-block"> some error </span>` should be inside `<div class:'col-md-3'> progress bar {right_here}</div>`

or

[code]

But instead, it is displayed at this:

[2016-04-12 08:50] tagliala commented on #654
Please report this issue here: https://github.com/DavyJonesLocker/client_side_validations-simple_form

[2016-04-12 08:50] #654 closed

[2016-04-13 02:42] oasisweng opened #655 "Client side validations custom validator order"
I want to integrate a "zxcvbn" validator to the form.

Along with this validation, I have "presence","length" and "confirmation" validations to my field(in this particular case, my password field).

But, the order of validation goes by "presence", "length", "confirmation", "zxcvbn". However, I want "zxcvbn" to be checked before "confirmation".

I looked at source code, the order above also matches

[2016-04-13 07:34] patricklindsay opened #656 "Uglifier JS Compression causing Syntax Error - Remove double forward slash before CDATA"
Wasn't sure if this is a Uglifier issue or CSV issue.

I have an issue when running JS compression over pages with the CSV embedded script.

The compressor seems to be removing the forward slashes before CDATA;

[code]

[code]

This is causing:

[code]

Any ideas?

Versions:
Uglifier: `3.0.0` (Have tried `2.7.2` also)
client_side_validations (4.2.3)
client_side_validations-simple_form (3.2.3)

[2016-04-13 08:55] tagliala commented on #656
Can you configure your compressor to disable inline javascript compression?

[2016-04-13 09:15] patricklindsay commented on #656
Yeah I was looking to do that but couldn't find an option in the [uglifier docs](https://github.com/lautis/uglifier#usage)

My compression initializer looks like:

[code]

Setting the HtmlCompressor to not compress Javascript causes all JS not to be compressed rather than just inline JS.

[2016-04-13 09:19] tagliala commented on #656
[code]

could you please try without this one?

[2016-04-15 00:30] oasisweng opened #657 "I want to validate my field with a local validator not specified by the model file"
I want to check my password with zxcvbn.js.
I have written a working local validator called "zxcvbn"

[code]

How do I declare my password field in ERB to force it be checked by this validator?

So far I've got this.

[code]

[2016-04-15 09:13] tagliala commented on #657
I suppose you also need a server side validator, please check here: https://github.com/DavyJonesLocker/client_side_validations#local-validators

[2016-04-18 10:31] patricklindsay commented on #656
Removing that line would cause
[code]

&

[code]
To throw an undefined error. If I remove all lines then the JS is not compressed.

[2016-04-18 11:02] tagliala commented on #656
I mean, from `uglifier = Uglifier.new output: { comments: :none }` to `uglifier = Uglifier.new`

[2016-04-18 11:29] tagliala commented on #656
I'm pretty confident that the problem is in the `HtmlCompressor`, which should be responsible of compressing inline javascript. I would change `compress_javascript: true` to `false`

[2016-04-20 08:23] patricklindsay commented on #656
Yeah that seemed to do the trick, I'm sure I had tried that and it stopped compressing all JS instead of just inline.. oh well.

I'm closing this. There is still a problem that Uglifier is stripping the double forward slash before CDATA but I don't think this is a CSV issue.

Thanks for your help @tagliala

[2016-04-20 08:23] #656 closed

[2016-04-20 09:00] tagliala commented on #656
IMHO the error should be reported to HtmlCompressor because it treats //<![CDATA[` as a standard comment and t herefore strips it

[2016-04-23 21:11] oasisweng opened #658 "validation: false will not turn off boolean field validation!"
I am using Simple Form for a Staff form that starts as this

[code]

Then, I have a `is_intern` boolean field whose validation I want to disable. It is the following code:

[code]

But the validation will still go off.

I did set up some hooks in my JS file to show some customized messages:

[code]

However, `fail` hook never gets called for `is_intern` boolean field, and pass calls everytime I cl

[2016-04-27 10:20] tagliala commented on #658
Sorry, unable to reproduce.

https://github.com/tagliala/test-csv-658

Relevant  commits: https://github.com/tagliala/test-csv-658/commit/92491eaffbcf62ef8aad6321bd1dae44d38afa71 https://github.com/tagliala/test-csv-658/commit/87f7594f56da14a5be47df5e6c9126a5d0086092

Please provide a reduced test case: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitti

[2016-04-27 10:20] #658 closed

[2016-04-27 10:27] tagliala commented on #655
Hi,

this could be an interesting feature. Feel free to submit a PR with proper unit tests

[2016-04-27 10:46] tagliala commented on #652
could you please provide a screenshot of what you get and what you want to achieve?

Could you also please provide generated html? You may need extra markup and/or css rules as well as javascript customization to show errors in the way you need

[2016-04-27 10:48] tagliala commented on #651
Hi,

Unfortunately there is no support for `bootstrap_form_for`.

Feel free to develop a plugin like [ClientSideValidations-SimpleForm](https://github.com/DavyJonesLocker/client_side_validations-simple_form) (you can use that repo as a base), I will provie a link in the readme

Hope it helps, closing here

[2016-04-27 10:48] #651 closed

[2016-05-05 21:34] Alxzu commented on #657
Hi, any advance with this? I need to check a identification number with a javascript, thanks

[2016-05-05 23:00] tagliala commented on #657
Please do everything required here: https://github.com/DavyJonesLocker/client_side_validations#local-validators

if you still have troubles, please provide a sample application showing the issue

[2016-05-12 19:39] factor4 commented on #652
Hello!
I have the same problem! rails 4.2.6, client_side_validations 4.2.3, no devise, no simple_form. The generated markup contain the <script> tag with my model validations, but no error messages show up on filling in the form. I´m using the gem the first time. Should the error messages appear on leaving focus? When I submit the invalid form and it get re-rendered from server-side validations, t

[2016-05-12 19:59] tagliala commented on #652
@factor4 this issue is about the error not appearing inline.

Please make sure you followed instructions, maybe you need to uncomment the initializer: https://github.com/DavyJonesLocker/client_side_validations#initializer

Take a look at this example app: https://github.com/tagliala/test-csv-658/tree/no-simple-form

[2016-05-12 20:48] factor4 commented on #652
@tagliala Thank you for your response! Yes, in my app errors did not appear inline.
Meanwhile, I have narrowed down my problem. My form is a multistep form which hide/show fieldsets with JS depending on the current step. If I disable the multistep feature and show the whole form, inline errors work as expected! It seems CSV did not recognise the inputs within `$('fieldset').hide()` hidden fieldset

[2016-05-13 08:21] tagliala commented on #652
@factor4 this is covered in our wiki https://github.com/DavyJonesLocker/client_side_validations/wiki/Validation-in-Multi-Step-Form

[2016-05-13 08:25] factor4 commented on #652
@tagliala Thank you very much! This is exact what I need! 👍

[2016-05-16 05:40] blimey85 commented on #636
I think this is a fairly significant issue as testing for uniqueness is a very common need. How I've handled it in the past is to have a method in my controller that can check whichever field I need. Typically that's username and email address. So I post something like type=name, name=bob, and it returns true or false. Now that I'm updating one of my projects to use ClientSideValidations, I like t

[2016-05-16 09:15] tagliala commented on #636
@blimey85 I really don't want this method inside CSV. It opens to information disclosure and I don't know how to fix this. I've also tried to run tests on travis against different DBs so I could take track of ORM-specific issues.

Here it is the code: https://github.com/DavyJonesLocker/client_side_validations/blob/master/lib/client_side_validations/active_record/middleware.rb#L19

feel free tu sub

[2016-05-17 11:46] murtazabeans opened #659 "Uniqueness case sensitive validation not working with mysql2"
I am currently using client side validation ge version -> 4.2.3. Client side validation is not applied on case sensitive part. For example username: "smith" and username: "SMITH" are taken as different entities. My sql gem version is 0.3.20.

[2016-06-04 04:18] kobaltz commented on #645
I found that I had to add

[code]

after `rails.validations` and after `turbolinks` loads.

[2016-06-04 20:10] tagliala commented on #645
@kobaltz this is about Turbolinks 5? Could you please open a new request and provide a failing test case or an application with step-to-step to reproduce?

[2016-06-05 14:39] kobaltz commented on #645
@tagliala, that is correct. I was using `turbolinks 5.0.0beta2`. I can provide an example app or steps to reproduce, but it was a new application with only one model that I was testing with.

Typically with using Turbolinks 5 from an upgraded 2.3 application, you could add the compatibility include to translate the `page:load` to `turbolinks:load`. Since Rails 5 ships with Turbolinks 5, this would

[2016-06-05 15:18] tagliala commented on #645
@kobaltz a new test application with step-by-step guide to reproduce hosted on github would be enough

[2016-06-05 16:02] kobaltz commented on #645
Example App: https://github.com/kobaltz/csv-example

Here is the example app.

My steps to reproduce

[code]

In the user model

[code]

And the form

`<%= form_for(user, validate: true) do |f| %>`

If you start the application and try to create a new user (leaving the form fields blank, you'll notice the error message populated from `user.errors.any?` which means that the request has posted back

[2016-06-05 16:20] tagliala commented on #645
Thanks, I will take a look asap

[2016-06-07 07:21] ChakreshwarSharma-BTC opened #660 "Manually validate the complete form"
How to validate the form before form.submit().

I want to achive like $("#my_form").validate(). If the form contains error, then they must be displayed.

[2016-06-07 09:27] tagliala commented on #660
This should be done automatically and you could use `ClientSideValidations.callbacks.form.fail(form, eventData)` callback

Ref: https://github.com/DavyJonesLocker/client_side_validations#callbacks

[2016-06-07 14:32] tagliala opened #661 "Turbolinks 5 compatibility"
Turbolinks 5 changed event names, so we need to adjust something in this gem
### Current issues
1. There is a `Turbolinks.supported` property which should be checked before setting the right event to listen to, so the current implementation is bugged on browsers which don't support Turbolinks when Turbolinks is loaded
2. Turbolinks 5 uses `turbolinks:load` instead of `page:change`. Ref:  https://g

[2016-06-07 14:33] tagliala commented on #661
Application showing an issue with Turbokinks 5: https://github.com/DavyJonesLocker/client_side_validations/issues/645#issuecomment-223821284

[2016-06-07 14:41] tagliala commented on #645
I'm going to consider Turbolinks 5 off topic for this issue because Turbolinks 5 also works for Rails 4 and the current implementation is bugged.

Please use #661

[2016-06-14 14:49] tagliala commented on #661
I came up with

[code]

Not an English native speaker, so feel free to provide a better comment

[2016-06-14 15:00] tagliala commented on #645
@kobaltz please take a look here: https://github.com/DavyJonesLocker/client_side_validations/issues/661#issuecomment-225906191

I'm going to test against IE8, add this change to the 4.2 version on the master branch and rebase the rails5 branch.

[2016-06-16 10:27] santosh-btc commented on #660
@tagliala Please Provide proper Documentation For `ClientSideValidations.callbacks`. i fail to use above code.

[2016-06-16 21:37] tagliala commented on #660
please provide me an application with the minimum amount of code and gems with your failing code or a failing test case

[2016-06-17 06:41] santosh-btc commented on #660
@tagliala : in our application we have a button which checks that whether the form is valid or not, we didn't submit the form anywhere , so is it possible to achieve it by using this gem ,  It would be helpful for us if you provide some example code.

Thanks

[2016-06-17 09:27] tagliala commented on #660
Ok, got it.

You don't need callbacks to achieve this.

It is explained here for `input` tags: https://github.com/DavyJonesLocker/client_side_validations/wiki/Manually-trigger-input-validation but it cab be applied to the whole form too:

erb:
[code]

coffee:
[code]

Closing here, hope it helps

[2016-06-17 09:27] #660 closed

[2016-06-20 06:44] santosh-btc commented on #660
$form.isValid($form[0].ClientSideValidations.settings.validators  is always return true in my case but by form is not validate.

[2016-06-20 10:22] santosh-btc commented on #534
@jmarceli $input.data('changed', true).isValid($form[0].ClientSideValidations.settings.validators) is not working and gives true every time.

[2016-06-20 10:27] jmarceli commented on #534
Sorry but I'm no longer using `client_side_validations` gem and I'm unable to check this. Maybe try second version without `data('changed', true)` part.

[2016-06-20 10:34] santosh-btc commented on #534
Try without `data('changed', true)` but not it gives `Uncaught TypeError: Cannot read property 'settings' of undefined` error, Anyways Thanks For Replay....

[2016-06-20 12:03] tagliala commented on #660
Sorry, @santosh-btc. I can't understand what you are trying to achieve.

The above snippet runs validations on the form.

If the form is not valid, you will see the errors on the fields. Then CSV will trigger the `form:validate:fail.ClientSideValidations` event, so you can listen for it with:

[code]

please notice that this will catch events for every form, so you should delegate to your form's s

[2016-06-20 12:25] tagliala commented on #660
Also, I'm properly getting `true` and `false` in my use case.

![image](https://cloud.githubusercontent.com/assets/556268/16194026/b48ebd70-36f2-11e6-9dab-1c4d3d03ac9b.png)

![image](https://cloud.githubusercontent.com/assets/556268/16194039/c6b02bc4-36f2-11e6-9c0a-d399e7b2231e.png)

application.js:
[code]

coffee:
[code]

erb:
[code]

[2016-06-20 12:30] santosh-btc commented on #660
@tagliala Thanks for reply.
Now i am adding a select box to form dynamically which is not a form attribute.so how to validate it?

[2016-06-20 12:31] tagliala commented on #534
I'm properly getting false and true.

model:
[code]

erb:
[code]

coffee:
[code]

[2016-06-20 12:36] santosh-btc commented on #534
@tagliala Thanks for answer.it is working now...!

[2016-06-20 13:02] tagliala commented on #660
@santosh-btc you're welcome

sorry but this is not a support forum, we should track issues with the library.

Dynamic fields: https://github.com/DavyJonesLocker/client_side_validations/wiki/Validating-dynamically-added-forms

[2016-06-30 17:15] arvindvyas opened #663 "wrong number of arguments (4 for 5)"
I follow the steps with this http://railscasts.com/episodes/263-client-side-validations and install it in my spree application

[2016-06-30 18:07] tagliala commented on #663
Sorry, Ryan's railscast is a little bit outdated.

If I'm right, Spree is based on 4.2.6 and I can confirm that Rails 4.2.6 is fully supported by CSV 4.2.4

Please follow our Readme to install and configure CSV on Rails 4.2.6

Hope it helps, closing here

[2016-06-30 18:07] #663 closed

[2016-07-01 11:40] tagliala commented on #645
I'm still locked on

### Wait for a rack >= 2.0.0 compatible version of Sinatra

please keep using the rails5 branch

[2016-07-02 17:19] tagliala commented on #656
@patricklindsay

btw I'm not getting this error.

Config:

[code]

output:
[code]

Rails 4.2.6, CSV @ master, htmlcompressor (0.3.0), uglifier (3.0.0)

[2016-07-02 17:26] tagliala commented on #656
please also give a try at the `master` branch, because I'm now using `javascript_tag` instead of `content_tag` which provides better CDATA comments

[2016-07-03 13:32] tagliala commented on #661
Reopening.

This is not so simple

Ref: https://github.com/turbolinks/turbolinks/issues/4 https://github.com/kossnocorp/jquery.turbolinks/issues/56

[2016-07-04 21:33] azam-noob commented on #506
Any progress on this problem so that we can use `validates :title, presence: true, length: { minimum: 6, maximum: 32}, if: :on_first_step?` instead of `validates :topics, presence: {if: :on_first_step?}`?

[2016-07-05 02:53] ianakiara commented on #450
+1

[2016-07-05 10:06] #450 closed, assigned to nobody

[2016-07-06 10:59] tagliala opened #665 "Make helpers consistent with Rails"
Some method calls are not consistent with their Rails counterparts.

E.g: `select_with_client_side_validations` requires a `choices` param, while [select_without_client_side_validations](https://github.com/rails/rails/blob/4-2-stable/actionview/lib/action_view/helpers/form_options_helper.rb#L162) doesn't in 4.1 and 4.2

[2016-07-06 11:57] #665 closed

[2016-07-07 12:24] tagliala commented on #652
Closing here because lacking of feedbeck

Feel free to provide information and I will reopen

[2016-07-07 12:24] #652 closed

[2016-07-07 12:26] tagliala commented on #649
I'm pretty confident this was solved in 4.2.5

Ref: https://github.com/DavyJonesLocker/client_side_validations/commit/77799b37463d5a42fa17d32aaed50e743ae63d93

[2016-07-07 12:26] #649 closed

[2016-07-11 11:54] tagliala opened #666 "Get rid of the inline javascript"
Investigate if there is any method to use data attributes instead of inlining javascript.

This should improve security by disabling inline javascript

Ref: #601

[2016-07-12 09:33] marks-za opened #667 "<script> not generating"
Hi,

I'm battling to get this gem to work correctly, the script doesn't seam to generate, using rails 4.2.6

gemfile:

initializer:
un commented line 14 - 20

model:

application.js

html (code):

[code]

------------------

any help would be much appreciated.

thanks
Mark

[2016-07-12 09:53] tagliala commented on #667
could you please copy and paste html source (not rendered html) inside a proper markup block?

eg:
[code]

Take a look here: https://guides.github.com/features/mastering-markdown/

[2016-07-12 10:04] marks-za commented on #667
trying to get teh markup right.. sorry

[2016-07-12 10:29] marks-za commented on #667
updated

[2016-07-12 11:13] tagliala commented on #667
@marks-za sorry, I didn't notice the error before

form_tag is not supported, you must use form_for

[2016-07-12 11:13] #667 closed

[2016-07-13 15:12] kyleramirez commented on #630
I replaced ClientSideValidations.validators.local.confirmation with my own. By checking if the user has even tried to put in a confirmation password, you can avoid getting a premature error message.

This works by keeping track of when the user has blurred the confirmation field at least once, and then it manually fires the validation for its relevant field.

[code]

[2016-07-14 13:39] ChakreshwarSharma-BTC opened #668 "Unable to apply validations on dynamic added input"
Hi , I am adding a field dynamically & following https://github.com/DavyJonesLocker/client_side_validations/wiki/Manually-trigger-input-validation .But it is not working , I am not getting any errors for this.

[2016-07-14 13:42] tagliala commented on #668
Check this: https://github.com/DavyJonesLocker/client_side_validations/wiki/Validating-dynamically-added-forms

[2016-07-14 13:49] ChakreshwarSharma-BTC commented on #668
@tagliala : It is not working as well

[2016-07-14 22:42] tagliala commented on #668
if you think there is an issue with CSV, please provide all the information required and a reproducible test case:

https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

[2016-07-19 13:53] gpcweb opened #669 "Clear error messages"
How can I remove error messages from the form?

Here is a sneak peak of my code, but is not working

[code]

[2016-07-20 13:45] gpcweb commented on #669
Finally I clear the error messages  like this

[code]

But the next time y render the modal and click save, the errors are not displayed any more..

Any ideas?

[2016-07-21 10:38] jujudellago commented on #630
**kyleramirez**, this seems great, but I can't figure out how to use it.... Is it meant to be added to the original coffee version, or added as a separate script ? (I tried both)

[2016-07-25 06:12] kyleramirez commented on #630
@jujudellago, I somewhat followed the gem's documentation and created a custom file at /app/assets/javascripts/rails.validations.customValidatiors.js.coffee ... and then required the file in the asset pipeline in the application.js file. By creating the function `ClientSideValidations.validators.local.confirmation` ... you essentially override the gem's built-in local confirmation validator. Are y

[2016-07-25 09:59] jujudellago commented on #630
@kyleramirez, all right that make sense now, after a few more tests it does perform better than the original - the validation is performed when the password_confirmed is blurred - but the message is still displayed under the password, I thought it'll come out under the confirmation.

But that will be all right, the real frustration was to have the message "password do not match" before even enteri

[2016-08-01 16:43] glennfu opened #670 "Rails 5 JavaScript error on Format validation"
Devise appears to add this to my model:

[code]

In the JavaScript `format` method of CSV I see:
[code]

This line errors with "TypeError: options.with.test is not a function"

The value of `options["with"]` is `{ source="^[^@\s]+@([^@\s]+\.)+[^@\W]+$",  options="g"}`

The CSV tests suggest it expects `options["with"]` to be a String, but clearly it's not the case here!

Injected at the end of the

[2016-08-02 09:52] tagliala commented on #670
Nope, it should be a Regular Expression: https://github.com/DavyJonesLocker/client_side_validations/blob/master/coffeescript/rails.validations.coffee#L231

[code]

Could you please provide which version of Rails and CSV are you using?

[2016-08-02 10:38] patricklindsay commented on #656
It's now compressing without any issues. Can't pin point the fix though as I haven't been able to reproduce the original issue.

[2016-08-02 15:29] glennfu commented on #670
Rails v 5.0.0, and installed CSV via: `gem 'client_side_validations', github: 'DavyJonesLocker/client_side_validations', branch: "rails5"` which put `revision: 968e614c6a79fcd8ea55dad4aca3c4175e415870` in my Gemfile.lock

[2016-08-02 15:47] tagliala commented on #670
@glennfu

[code]

where does this snippet of code come from?

[2016-08-02 15:51] glennfu commented on #670
I just realized I had run `rails g client_side_validations:copy_assets` on a different version of CSV, before updating to the "rails5" branch, so I was actually running the old code because of that. Deleting that generated file now properly loads the right code. Sorry about that!

[2016-08-02 15:51] #670 closed

[2016-08-02 16:13] tagliala commented on #670
don't worry

glad you solved!

If you want to add a heads  to the readme, feel free to submit a PR (against the master branch) or suggest a sentence I could add to https://github.com/DavyJonesLocker/client_side_validations#install

[2016-08-02 16:26] glennfu commented on #670
PR submitted: #671

[2016-08-16 18:25] bvlaar opened #672 "Errors not being displayed inline"
My current env:
`gem 'rails', '4.1.0'`
`gem 'client_side_validations', github: 'DavyJonesLocker/client_side_validations'`

On submit the `<script></script>` block is being generated below the form tags however, the validations messages aren't being displayed inline.

I have uncommented the block in `client_side_validations.rb` and have restarted my server. This is not a nested form and is pretty v

[2016-08-16 19:40] tagliala commented on #672
From [Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md)

2. Version of Rails
3. Code snippet from your model of the validations
4. The form code from your template
5. The resulting HTML along with the script tag

Please provide 3 and 5

[2016-08-16 20:42] bvlaar commented on #672
@tagliala Added items 3 and 5.

[2016-08-17 10:58] tagliala commented on #672
Sorry, cannot replicate.

![image](https://cloud.githubusercontent.com/assets/556268/17734022/10c3d17a-647a-11e6-9c47-339d0f6cddbe.png)

Please note that you should force validation on `:firstname` and `:lastname` ([conditional validators](https://github.com/DavyJonesLocker/client_side_validations#conditional-validators))

Gemfile:
[code]

migration:
[code]

routes:
[code]

model:
[code]

view:
[c

[2016-08-17 10:58] #672 closed

[2016-08-17 11:16] tagliala commented on #669
Please try `$('form'). resetClientSideValidations()`

[2016-08-26 15:14] dreyks commented on #645
@tagliala Sinatra released a 2.0.0.beta2 https://github.com/sinatra/sinatra/releases/tag/v2.0.0.beta2
I understand, that this is just a beta, but just to be sure =)

[2016-08-26 15:21] tagliala commented on #645
@dreyks thanks. it should be ok because sinatra is not required for runtime, just for testing

[2016-09-01 13:34] anthony-robin commented on #469
any news on this?

[2016-09-07 14:08] RavWar commented on #630
If anyone is still looking for a complete solution to both of these problems, you can find it here: https://github.com/RavWar/client_side_validations/commit/37034a0e38d4c24fc084e43ca563929299b7bcf3.

I'm a bit hesitant to submit PR. There was a need for rails monkey-patching (see https://github.com/rails/rails/pull/8123) which could break in Rails 5 (i have not tested it yet).
@tagliala do you thi

[2016-09-07 14:24] tagliala commented on #630
@RavWar thanks for sharing your solution. We could add a wiki page but I'm against a PR which involves a monkey patch to rails

[2016-09-09 15:29] eclubb commented on #645
So when can we expect a Rails 5 compatible gem release?

[2016-09-14 18:58] jasonivers opened #673 "Callbacks don't seem to be running - Rails 5.0.0"
I have jquery-ui required, I have uncommented the lines in the initializer, and I've tried several different callbacks:
[code]
As you can see, I'm also calling enableClientSideValidations() afterwards (just in case that matters... added it when they weren't working otherwise).  This is with Rails 5.0.0.

I don't get any errors, there simply doesn't seem to be anything going on at all.

[2016-09-15 09:48] tagliala commented on #673
Sorry, cannot replicate.

Please provide as many details as you can when submitting issues, as per [Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md)

Relevant Gemfile:
[code]

Relevant application.js (also tested without turbolinks)
[code]

Model:
[code]

view:
[code]

Console
![screen shot 2016-09-15 at 11 47 49](https://cloud.github

[2016-09-15 09:48] #673 closed

[2016-09-16 13:59] Startouf commented on #661
What are the remaining problems ? Restoring previous pages from session should restore validations ?
(From someone who want to add this gem to a rails 5 app)

[2016-09-19 20:36] isuPatches opened #674 "Not understanding why custom validator shows error at odd time (Rails5 / Devise)"
For some reason, I'm seeing the custom validator take affect, but not until I have posted the form which seems really odd to me.  Am I missing something obvious?

Version of ClientSideValidations:

[code]

Version of Rails:

` rails (5.0.0.1)`

Code snippet from your model of the validations:

[code]

The form code from your template:

[code]
The resulting HTML along with the script tag:

Before I

[2016-09-20 08:47] tagliala commented on #674
It looks like that CSV is not working at all, because it submitted the whole form before displaying errors. There is missing the javascript implementation of your custom validator (aka `rails.validations.password_complexity.js`).

Could you also take a look at the development console and check for errors?

[2016-09-20 11:35] isuPatches commented on #674
I have not seen anything in my console.  I did upload:

https://github.com/isuPatches/ClientSideValidationSample which is a very basic app (sans secrets and database credits) with simple_form/devise/and client side validations that shows the JS not loading on http://localhost:3000/users/register.

I may be missing something really simple...thank you for helping!

[2016-09-21 09:41] tagliala commented on #674
Apparently, you should implement your validator as an `ActiveModel::EachValidator` as described in [README](https://github.com/DavyJonesLocker/client_side_validations#local-validators)

[code]

Also, there seems to be no simple way of passing three different messages for the same validator to the client side validator, so you need to pass a hash of messages and then fix the server side validator a

[2016-09-21 09:41] #674 closed

[2016-09-21 16:30] isuPatches commented on #674
Thank you thank you!  You've given me enough to get functional!

[2016-10-11 01:23] leongg opened #676 "Email uniqueness does not work in client side"
Hi, my email client side uniqueness validator does not work in client side.

My  code is:
`validates :email, presence: true, format: { with: /\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\z/i, on: :create }
  validates_uniqueness_of :email`

and my form:

It's working the name, password, email (format) but not the email uniqueness.

How can I fix it?

Thanks!

[2016-10-11 08:46] tagliala commented on #676
This require that you enable a remote validator which is disabled by default because it could cause Information Disclosure. Use it ar your own risk:

https://github.com/DavyJonesLocker/client_side_validations#security

Hope it helps

[2016-10-11 08:46] #676 closed

[2016-10-11 12:53] leongg commented on #676
Thanks @tagliala !

Got the last question, why is it a bad idea to perform a real time email uniqueness validation?

the thing is that I have a form that people answer and in same form, people register their account.

Thanks again!

[2016-10-11 14:27] tagliala commented on #676
Basing on how is the validator implemented, it could bring to information disclosure via brute force (e.g: reconstruct the phone number of the user).

Maybe there is a better way of implementing this, but I'm not into security and I'm opened to PR in #612

[2016-10-11 21:13] joshforeman commented on #318
@nathanvda - I saw your example repo using formtastic. Have you revisited this since?

I have it working using the error messages approach, but can't get it working inline for the nested form.

[2016-10-12 09:09] JosephA91 opened #677 "Validation error message is not generating on turbolinks:load"
Validation error message is not generating on turbolinks:load but generates when the page is refreshed.

Rails Version: Version 4.2.6
Client_Side_Validation: Version 4.2.7
### Model:

[code]
### Form:

[code]
### Generated HTML:

[code]
### Issue:

The generated input HTML should look like this:
`<input class="form-control" autocomplete="off" type="text" name="comment[content]" id="comment_content

[2016-10-12 09:39] tagliala commented on #677
Could you please share on github a sample application showing the issue?

[2016-10-12 10:42] JosephA91 commented on #677
Hi @tagliala, thank you for your reply and work on the Client_side_validations gem.

I am unfortunately unable to provide the source code for the application as it belongs to an organisation. The example above is about the extent of what I can release.

If you need any clarification of the above code, please let me know.

I am just looking for any general tips you may have on this?

Thank you for

[2016-10-12 11:03] tagliala commented on #677
You could start a new rails application with just the code and steps needed to reproduce the bug

[2016-10-13 06:17] viveksingh1115 opened #678 "jQuery-Tags-Input validation failed"
Hi,
I used following gems
gem 'simple_form', '~> 3.3', '>= 3.3.1'
gem 'client_side_validations', github: 'DavyJonesLocker/client_side_validations', branch: 'rails5'
gem 'client_side_validations-simple_form', github: 'DavyJonesLocker/client_side_validations-simple_form', branch: 'rails5'

and For tags input I used library called jQuery-Tags-Input https://github.com/xoxco/jQuery-Tags-Input

The requ

[2016-10-13 10:34] JosephA91 commented on #677
Hi @tagliala, the application I am working on is quite large and has a number of nested resources, so it would be difficult to replicate without reproducing the current source code.

What I have discovered is that client_side_validations in my form as shown above, loads correctly on page load but when using turbolinks:load the javascript fails to load on the client.

I am wondering if you have com

[2016-10-13 11:51] tagliala commented on #678
You probably need to trigger an event on the input field hidden by this plugin, take a look here: https://github.com/DavyJonesLocker/client_side_validations/wiki/jQuery-Plugins

[2016-10-13 15:33] dickson95 commented on #661
Hello, compatible with rails 5

    gem 'client_side_validations', github: 'DavyJonesLocker/client_side_validations', branch: 'rails5'

[2016-10-13 17:51] tagliala commented on #677
You should extract the minimum amount of resources to reproduce the issue and lock gems to the same versions you are using.

CSV has one single file, you can copy the .coffee file in your application and debug it

[2016-10-13 18:00] JosephA91 commented on #677
See below.

Kind regards,

Joseph Amato
Co-founder, director

Indionic

_____________________________
From: Geremia Taglialatela <notifications@github.com<mailto:notifications@github.com>>
Sent: Friday, October 14, 2016 1:51 am
Subject: Re: [DavyJonesLocker/client_side_validations] Validation error message is not generating on turbolinks:load (#677)
To: DavyJonesLocker/client_side_validations <cli

[2016-10-20 12:50] kobaltz commented on #611
For documentation & future reference, this is my solution.

[code]

[code]

[2016-10-20 12:51] tagliala commented on #611
@kobaltz feel free to add a page to the wiki https://github.com/DavyJonesLocker/client_side_validations/wiki

[2016-10-31 11:31] varvaray opened #679 "Java script error while validating numericality: greater_than with other model attribute"
I have 2 attributes in my model - minimum_players and maximum_players. And i want compare them in validation:
[code]
The thing is, if in my form i'll erase the value, i'll get an error  -
[code]

So, i was wondering if adding the null-check on line 369

[code]

like that can be done to fix that behaviour?

[2016-11-08 08:58] janraasch opened #680 "Nested `simple_fields_for` no longer inherits `validate: true` (since v4.2.5)"
Hi there,

we have a `simple_fields_for` call inside a `simple_form_for`-form with `validate: true` passed to the *form*. Before `v4.2.5` the required nested `simple_fields_for` attributes would be added to the `@validators` automatically.

# Example

Say we have a `User` model and an `Address` model. Now, the `Address` requires a `street`, and the `User` of course has an `address`.

A sign-up for

[2016-11-08 17:11] tagliala commented on #680
Doesn't work for me with 4.2.0+ neither. I'm investigating

Gemfile:
[code]

User Model
[code]

Address model
[code]

erb
[code]

output html
[code]

The problem is that tests for `fields_for` pass 😐

[2016-11-08 17:26] janraasch commented on #680
Thank you for looking into this, @tagliala.

[2016-11-08 18:40] tagliala commented on #680
The problem is that `address` is `nil` at the moment that `fields_for` is executing, and CSV is not able to create validation fields for that object. Please add `@user.build_address` in your `new` controller and check that the object is instantiated in the edit/update action.

Hope it helps

[2016-11-09 15:58] eozelius opened #681 "Error labels is not appended to an Input with Autofocus and Turbolinks."
Hello, I hope you are all well.

I am having an bizarre issue with turbolinks, client_side_validations and the Autofocus property.  When I use both libraries, and the autofocus property on a text input, the first time the page loads, (from a turbolinks link) the error message is not being appended to the input.  If you refresh the page, the message will properly be appended to the input.

`<%= f.t

[2016-11-09 18:02] tagliala commented on #681
It seems to work for me

![image](https://cloud.githubusercontent.com/assets/556268/20148899/04e7d53c-a6af-11e6-8028-c23a0aef7e91.png)

[2016-11-09 18:45] eozelius commented on #681
Hello @tagliala, you are correct it was working for you.  I forgot to push a commit.

The issue is visible now.

[2016-11-10 15:07] tagliala commented on #681
Sorry, cannot confirm.

Gemfile
[code]

Gemfile.lock
[code]

routes
[code]

Model
[code]

application.js
[code]

/app/views/posts/turbolinks.html.erb
[code]

/app/views/posts/new.html.erb
[code]

1. Open `localhost:3000/turbolinks`
![image](https://cloud.githubusercontent.com/assets/556268/20181633/3dffacb8-a75f-11e6-972c-2496fc50bfb1.png)

2. Click on `New Post`, making sure it performs an xhr re

[2016-11-10 15:07] #681 closed

[2016-11-10 15:14] tagliala commented on #679
Sorry for the late reply, I can confirm there is an issue.

I'm investigating

[2016-11-10 15:47] eozelius commented on #681
hello @tagliala,  thanks for taking the time to look at this.

If you add a couple inputs and an autofocus property to the form, you might be able to see the issue.  Try adding this form:

[code]

[2016-11-10 15:59] tagliala commented on #681
Still can't confirm.

[code]

![image](https://cloud.githubusercontent.com/assets/556268/20183844/025e24c0-a767-11e6-82f7-fb06e948a034.png)

[2016-11-10 16:16] eozelius commented on #681
Hello @tagliala,

The issue is not that autofocus is not working.  The issue is that the validations are not working on the input with the auto-focus, to see the issue you will need to write some basic validations, and then the field with the auto-focus will not work with client_side_validations.

Model

[code]

Then use the same form, the client_side_validations will work for :email, :maximum, an

[2016-11-10 16:19] tagliala commented on #681
@eozelius as you can see in my above screenshot, `minimum` has a thick red border which means that validations ran on that field

[2016-11-10 16:33] eozelius commented on #681
Ok, @tagliala  thanks for taking a look at this.  I will let you know if I am able to solve my issue.

Regards.

[2016-11-10 16:36] tagliala commented on #681
@eozelius You're welcome. Please let me know if you are able to identify the bug or if I've missed something

[2016-11-10 16:46] #679 closed

[2016-11-10 16:55] tagliala commented on #679
@varvaray could you please give the master branch a try?

[code]

[2016-11-10 18:44] eozelius commented on #681
I have found source of the issue, for some reason (still working on it) a rich text editor we are using is causing this behavior.

No issue with turbolinks or client_side_validations.

[2016-11-10 20:40] tagliala commented on #681
Thanks, please share the name of the gem if you can

[2016-11-11 16:49] eozelius commented on #681
the gem/editor (in combination with my own code) that was causing the issue is WYSIhtml5 editor,
`gem 'bootstrap-wysihtml5-rails'`

When the editor is initialized, the textarea is focused, so the autofocused field loses focus, and an error-message is attached to the input, because it lost focus and is blank.  To fix that issue, I wrote a callback to remove the error label when the editor had finis

[2016-11-11 21:41] kingdonb opened #682 "validates numericality does not run on number_field when allow_nil is true"
I tried using validates: numericality with allow_nil and it works great, except for one thing.  The only alphabetic keystroke that is allowed is the letter 'e'.  I assume this is because of scientific notation.

The field will not allow you to submit a number in scientific notation, so I think this allowance is a bug.  Looking for feedback about this issue before I attempt to make a PR to fix it.

[2016-11-12 00:09] tagliala commented on #682
The just released 4.2.9 version addressed some issues in numericality validator.

Maybe this is a regression

I will take a look tomorroe

[2016-11-12 11:15] tagliala commented on #682
Sorry, cannot confirm.

Gemfile
[code]

Gemfile.lock
[code]

Model
[code]

application.js
[code]

/app/views/posts/new.html.erb
[code]

1. insert `e`:
![image](https://cloud.githubusercontent.com/assets/556268/20237406/79e8b2a6-a8d1-11e6-8416-6c45ab92256d.png)

2. insert `1`:
![image](https://cloud.githubusercontent.com/assets/556268/20237408/92da301e-a8d1-11e6-9aab-36dbabd0dcd2.png)

[2016-11-15 02:10] kingdonb commented on #682
Try with :allow_nil

The behavior is not correct.  User is led to believe they may save "e" but they save nil.  There is no value of `/\d+e\d/` that results in a number being saved, that I could divine...

What is the meaning of allowing "e"?  Is there a value for :numericality that allows the user to express in scientific notation?

(Can you use it for BigDecimal?)

Result I am looking for is as

[2016-11-15 02:12] kingdonb commented on #682
Please reopen

[2016-11-15 11:37] jfloff opened #683 "Uncaught TypeError: Cannot read property 'replace' of undefined"
After following instructions on README, and after adding to a form (standard rails), I keep getting this error in javascript after validation on a field:
[code]

Which comes from this snippet: (**@ `errorFieldClass.replace`**)
[code]

Any idea on what's the problem?

For client_side_validations I'm using latest commit from master, and I'm using Rails 4.2.3 with Ruby 2.5.

[2016-11-15 15:52] tagliala commented on #682
Still cannot confirm.

Please provide me a [reduced test case]()

Model
[code]

generated script
[code]

(at the very end you can see there is "allow_blank": true)

Result:
![image](https://cloud.githubusercontent.com/assets/556268/20312270/2737e124-ab53-11e6-8676-05b3fd06647f.png)

Also, I'm not finding results for `\d+e` in CSV's code

[2016-11-15 15:55] tagliala commented on #683
Please provide all the needed information: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

A reduced test case would be much better

PS: ruby 2.5 or 2.2.5/2.1.5?

[2016-11-15 19:56] kingdonb commented on #682
Sorry for not providing more details upfront!

Here is an example that shows the failure:

https://github.com/kingdonb/example/commit/a28ad6b640e0e3754d83a0d6c7d151f5160a7a8a

In brief, try `f.number_field :players` instead of `f.text_field :players`

I use a custom numericality setting `{greater_than_or_equal_to: -240, less_than_or_equal_to: 240}` but that isn't what makes my test case different

[2016-11-15 22:00] tomca32 opened #684 "format validation with regex containing a dollar sign generates invalid regex"
We validate format with the following regex:
[code]

In the frontend this gets converted into the following string:
[code]

which is invalid regex and raises the following error:
[code]

This is due to the following bug in JSRegex dependency: https://github.com/janosch-x/js_regex/issues/2

[2016-11-15 22:17] tagliala commented on #684
Yes, there is a high chance that the bug is due to js_regex because we are completely relying on that gem to create regexp

https://github.com/DavyJonesLocker/client_side_validations/blob/master/lib/client_side_validations/core_ext/regexp.rb#L5

[2016-11-15 22:33] tomca32 commented on #684
JSRegex released a new version 1.0.19 where this is fixed. It would be great if client_side_validations could pull up a new version.

[2016-11-15 22:39] tomca32 commented on #684
Oh, it already does. Cool. Seems like everything's good now.

[2016-11-15 22:45] tomca32 commented on #684
Maybe it wouldn't be a bad idea to raise the dependency requirement to:

[code]

since this seems to be a pretty serious bug.

[2016-11-16 09:15] jfloff commented on #683
Sorry about the missing information. At the moment I don't have the time to come up with a simple working example, sorry about that. I tried to limit validations only to email field. Here is everything that've gathered so far. Is it enough?

Version of ClientSideValidations: current master branch
Version of Rails: 4.2.3
Version of Ruby: 2.2.5
Code snippet from your model of the validations:
[code]

[2016-11-16 10:08] tagliala commented on #684
Will do that

[2016-11-16 11:28] #684 closed

[2016-11-16 12:26] tagliala commented on #682
@kingdonb thanks.

I confirm there is an issue and it is worse on firefox because it allows all letters.

I will investigate

[2016-11-16 13:08] tagliala commented on #682
Apparently I can't fix this on CSV side http://stackoverflow.com/a/18853513

![image](https://cloud.githubusercontent.com/assets/556268/20347831/0e99ee04-ac03-11e6-9e1a-9de62d2e8890.png)

I've tried something, like converting the number  field in a text field on the fly and get the value, but doesn't work

Number to text:
[code]

The other way (text to number):
[code]

At the moment you can either

[2016-11-16 13:34] kingdonb commented on #682
I think my clients can live with this minor minor misbehavior, the good news is there's no reason for me to remove client_side_validations because it's apparently not the software at fault.

I thought I might be able to solve it by setting `pattern="something"` but I guess pattern is only allowed on text and textarea, not on number type.  Also I guess pattern doesn't actually validate input charac

[2016-11-16 13:35] tagliala commented on #682
I've tried that too, but I'm not able to make it work. Also, it is not supported by Safari so I gave up

I will leave this open

[2016-11-16 14:53] tagliala commented on #684
Version 4.2.10 released, thanks

[2016-11-17 11:36] salmagomaa commented on #611
@kobaltz thanks a million for documenting the solution

[2016-11-17 18:17] edwardmp commented on #645
Thanks for publishing this. Tried It out today but it doesn't seem to work due to the following javascript error:
`rails.validations.js?body=1:188 Uncaught TypeError: Cannot read property 'remove' of undefined`

[2016-11-17 18:58] tagliala commented on #645
@edwardmp please start a new issue providing all the information needed and a reduced test case: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

[2016-12-04 16:50] jfloff commented on #683
Any updates regarding this @tagliala ? Thank you!

[2016-12-05 11:12] tagliala commented on #683
@jfloff sorry, I didn't had time to check :\

[2016-12-05 11:28] jfloff commented on #683
No problem, I'm not really into a hurry at this moment. Just wanted to check :)

[2016-12-09 12:20] varvaray commented on #679
@tagliala thank you, work perfectly now! =)

[2016-12-09 15:46] varvaray commented on #679
@tagliala I actually have a comment here. If i remove 1 of the fields, it doesn't show any messages anymore, but when i try to submit, i'm getting server validation fail. I suppose it's better to reproduce server side behaviour, what do you think?

    validates :maximum_players,
              allow_nil: true,
              numericality: { only_integer: true, less_than_or_equal_to: 2147483647, gre

[2016-12-09 15:58] tagliala commented on #679
@varvaray please open a new issue and copy & paste your message

[2016-12-22 11:49] varvaray opened #687 "Java script doesn't show error message while validating numericality: greater_than with other model attribute when 1 of the fields is empty"
When using numericality: greater_than with other model attributes, if i remove 1 of the fields, it doesn't show any messages anymore, but when i try to submit, i'm getting server validation fail. I suppose it's better to reproduce server side behaviour for that case

validates :maximum_players,
          allow_nil: true,
          numericality: { only_integer: true, less_than_or_equal_to: 21474836

[2016-12-22 13:49] tagliala commented on #687
@varvaray thanks for splitting this bug report

I'm having troubles in understanding this step: " if i remove 1 of the fields"

Could you please provide me something like

### Initial state:
- Minimum players: X
- Maximum players: Y

### Step to reproduce:
Remove Z from ... field

### Expected behaviour
- Minimum players should...
- Maximum players...

### Actual behaviour
No validation messages

[2016-12-23 12:03] dreyks commented on #645
What's the status on this one?

[2016-12-23 13:53] tagliala commented on #645
@dreyks thanks for the ping.

I'm not going to release a gem in a short while, so please keep using the rails5 branch

Also, sinatra is still on beta. If we could drop the sinatra thing and run javascript unit tests against a Node.JS based server (and maybe make that work on Travis), it would be great.

That release should be implemented on the current master branch because it will benefit the Rai

[2016-12-27 13:05] tagliala opened #688 "Provide a better changelog"
Let's use github milestones for old version and provide a better changelog starting from 4.2.0 and newer

[2016-12-27 14:42] #688 closed

[2017-01-06 04:14] weavermedia opened #690 "Validations seem to be blocked when I use Vue.js on the page."
I've got a Rails app using the gem on the signup form, all working great.

Now I've added Vue.js to the page to do some dynamic switching of pricing plans and text but the validations have stopped working.

If I just comment out the Vue.js initializer the validations start working again.

How can I get the two working happily together?

[2017-01-06 04:24] weavermedia commented on #690
Fixed it 🎉   I just had to move the 'enable' call *after* the Vue initialization 🤕
[code]

[2017-01-06 04:24] #690 closed

[2017-01-07 17:52] sumanranjanpanda commented on #568
Hi,
I am facing the exact issue. Did you able to fix this issue?
Please let me know how you fixed this.

Thanks

[2017-01-09 09:33] varvaray commented on #687
@tagliala Sorry for the late answer.

I will point out only the things that are missing.

**Steps to reproduce:**

Insert X in :minimum_players
Insert Y in :maximum_players
Remove Y from maximum_players field

**Expected behaviour**

Minimum players should have error message like "Can't compare with empty field"
Maximum players should stay empty, i guess

**Actual behaviour**

No validation messag

[2017-01-09 09:47] varvaray commented on #687
@tagliala another thing i wanted to discuss is the whole concept of 2 fields comparing.

In the example above, when i'm performing step

Insert 10 in :maximum_players

I should have the message in the minimum_players field to be removed already. I did it myself in a bit of hacky way

      = f.number_field :minimum_players, min: 0, step: 1, validate: true,
              data: { compare_with: :maxi

[2017-01-12 06:15] #550 closed

[2017-01-19 23:33] tagliala commented on #645
Master branch is now compatible with Rails 5.

Expect a new release very soon.

Version will be 6.0.0, I will jump 5.x because now CSV will follow its own versioning for proper SemVer

[2017-01-20 12:42] tagliala commented on #645
CSV 6.0.0 released. I'm going for CSV-simple_form

[2017-01-20 12:42] #645 closed

[2017-01-20 12:45] dreyks commented on #645
Great news! Highly appreciated, thanks!

[2017-01-20 12:58] rubydev commented on #645
@tagliala Hi, could you please update CSV-mongoid for this version (and mongoid 6 and rails 5)?

[2017-01-20 13:29] tagliala commented on #645
@rubydev I will give it a try, it is the next on the list!

btw you could give a try to https://github.com/DavyJonesLocker/client_side_validations-mongoid/tree/6-0-dev

[2017-01-20 15:00] tagliala commented on #682
I'm closing this as wontfix at the moment

[2017-01-20 15:00] #682 closed

[2017-01-20 15:01] tagliala commented on #36
Closing here

[2017-01-20 15:01] #36 closed

[2017-01-20 15:02] tagliala commented on #226
I would like to switch to promise-based validators

[2017-01-20 15:04] tagliala commented on #445
Don't know if this is still an issue

There is a wiki for custom validators at https://github.com/DavyJonesLocker/client_side_validations/wiki/Custom-Validators

[2017-01-20 15:04] #445 closed

[2017-01-20 15:10] tagliala commented on #446
Hi,

I'm closing very old issues, hoping that they are not issues anymore.

If you are still having troubles, please open a new issue

[2017-01-20 15:10] #446 closed

[2017-01-20 15:10] tagliala commented on #451
Hi,

I'm closing very old issues, hoping that they are not issues anymore.

If you are still having troubles, please open a new issue

[2017-01-20 15:10] #451 closed

[2017-01-20 15:12] tagliala commented on #455
There is a wiki about Devise

https://github.com/DavyJonesLocker/client_side_validations/wiki/Devise

[2017-01-20 15:12] #455 closed

[2017-01-20 15:50] tagliala commented on #645
@rubydev CSV-Mongoid 7.0.0 released

[2017-01-20 15:58] tagliala commented on #459
Hi,

I'm switching down old issues.

I hope this is not an issue anymore, otherwise feel free to start a new one

[2017-01-20 15:58] #459 closed

[2017-01-20 16:00] tagliala commented on #469
Hi,

I'm switching down old issues.

I hope this is not an issue anymore, otherwise feel free to start a new one providing an up-to-date reduced test case

[2017-01-20 16:00] #469 closed

[2017-01-20 16:02] tagliala commented on #491
Moved to QUnit 2

[2017-01-20 16:02] #491 closed

[2017-01-20 16:04] tagliala commented on #492
I would like to move to es6 + webpack base builder

[2017-01-20 16:05] anthony-robin commented on #469
Yes, this is still an issue. I will start a new one.

[2017-01-20 16:10] anthony-robin opened #691 "Have to click submit button twice to submit form."
_This issue was not originally created by me but as the contributor closed it, I created a new one with same content as @marnold1 wrote first. ([original issue](https://github.com/DavyJonesLocker/client_side_validations/issues/469))_

Occurs under this scenario.

1. Submit a form with validation errors.
2. Correct all the errors but dont tab out of the last item fixed. So the error message remains

[2017-01-20 16:21] tagliala commented on #691
Hi,

sorry but a copy & paste is not enough. Also, zinergia.co is dead for me.

Closing here until this issue meets [Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md)

[2017-01-20 16:21] #691 closed

[2017-01-20 16:22] #492 closed

[2017-01-20 16:35] tagliala commented on #566
Hi,

I'm shutting down old issues. I'm using all of them without issues

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 16:35] #566 closed

[2017-01-20 16:35] tagliala commented on #619
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 16:35] #619 closed

[2017-01-20 16:37] tagliala commented on #629
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 16:37] #629 closed

[2017-01-20 16:38] tagliala commented on #600
We have 4.2 version for Rails 4.x and 6.0 version for Rails 5.x so we should ok to go

[2017-01-20 16:38] #600 closed

[2017-01-20 16:39] tagliala commented on #581
Hi,

I'm shutting down old issues.

Sorry, I really don't know how to answer to this question.

[2017-01-20 16:39] #581 closed

[2017-01-20 16:40] tagliala commented on #580
This should be fixed

[2017-01-20 16:40] #580 closed

[2017-01-20 16:42] tagliala commented on #579
Hi,

I'm shutting down old issues.

Sorry, I don't know how to answer.

[2017-01-20 16:42] #579 closed

[2017-01-20 16:43] tagliala commented on #578
Hi,

I'm shutting down old issues.

Sorry but I don't know the answer.

[2017-01-20 16:43] #578 closed

[2017-01-20 16:44] tagliala commented on #573
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

I've switched to proper SemVer because of this

[2017-01-20 16:44] #573 closed

[2017-01-20 16:46] tagliala commented on #570
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

Maybe this was caused by the syncronous ajax call to the uniqueness middleware

[2017-01-20 16:46] #570 closed

[2017-01-20 16:47] tagliala commented on #568
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

Please note that if simple_form is involved, then the proper repo to report this is --> https://codeclimate.com/github/DavyJonesLocker/client_side

[2017-01-20 16:47] #568 closed

[2017-01-20 16:48] tagliala commented on #500
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 16:48] #500 closed

[2017-01-20 16:51] #506 closed

[2017-01-20 16:52] tagliala commented on #517
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 16:52] #517 closed

[2017-01-20 16:57] tagliala commented on #542
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 16:57] #542 closed

[2017-01-20 17:02] tagliala commented on #521
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

Please note that I only have one android 7.1.1 phone running last Chrome

[2017-01-20 17:02] #521 closed

[2017-01-20 17:03] tagliala commented on #554
Hi,

I'm shutting down old issues.

CSV will not support jQuery Mobile

[2017-01-20 17:03] #554 closed

[2017-01-20 17:04] tagliala commented on #526
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 17:04] #526 closed

[2017-01-20 17:05] tagliala commented on #533
Hi,

I'm shutting down old issues.

Never had issues in humanizing CSV errors. It works fine with multiple languages.

I'm using the standard rails i18n feature.

[2017-01-20 17:05] #533 closed

[2017-01-20 17:06] tagliala commented on #528
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

Please note that the proper repo to report simple_form issues is --> https://github.com/DavyJonesLocker/client_side_validations-simple_form

[2017-01-20 17:06] #528 closed

[2017-01-20 17:07] tagliala commented on #530
Hi,

I'm shutting down old issues.

I do agree, but this require very high skills and a lot on effort on my side.

Ref: (#666) (#226) (#490)

[2017-01-20 17:07] #530 closed

[2017-01-20 17:09] tagliala commented on #537
Hi,

I'm shutting down old issues.

Please translate "can't be blank" message with "required"

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 17:09] #537 closed

[2017-01-20 17:10] tagliala commented on #538
Hi,

I'm shutting down old issues.

Can't fix this one, ref: #682

[2017-01-20 17:10] #538 closed

[2017-01-20 17:11] tagliala commented on #539
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 17:11] #539 closed

[2017-01-20 17:12] tagliala commented on #543
Hi,

I'm shutting down old issues.

Yes, using a custom callback and scrollTo is fine

[2017-01-20 17:12] #543 closed

[2017-01-20 17:13] tagliala commented on #559
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 17:13] #559 closed

[2017-01-20 17:13] tagliala commented on #596
No feedback, closing here

[2017-01-20 17:13] #596 closed

[2017-01-20 17:15] tagliala commented on #602
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 17:15] #602 closed

[2017-01-20 17:16] tagliala opened #692 "TODO LIST"
- [ ] Unobtrusive Javascript (#666)
- [ ] Promise-based approach (#226) (#490)
- [ ] Remove jQuery dependency
- [ ] Bring CodeClimate score to 4.0 (#593)
- [ ] Use ES6
- [ ] Remove the uniqueness middleware (#512) (#597)
- [ ] Run JavaScript tests on CI (#591)

Aumentare il punteggio su CodeClimate
Generare il file javascript tramite yarn + webpack
Abbandonare CoffeeScript in favore di ES6

[2017-01-20 17:47] tagliala commented on #617
You can use the above script or go for CSV-simple_form + simple_form bootstrap

[2017-01-20 17:47] #617 closed

[2017-01-20 17:48] tagliala commented on #630
Won't fix this, sorry. It is too hard

PR are welcome

[2017-01-20 17:48] #630 closed

[2017-01-20 17:49] tagliala commented on #650
You will probably need a custom client side javascript for doing this

Hope it helps, closing here

[2017-01-20 17:49] #650 closed

[2017-01-20 17:50] tagliala commented on #678
Hope it helps

[2017-01-20 17:50] #678 closed

[2017-01-20 17:51] tagliala commented on #669
Hope it helps

[2017-01-20 17:51] #669 closed

[2017-01-20 17:51] tagliala commented on #647
Hi,

I'm shutting down old issues.

If it still is an issue, feel free to open a new one but make sure it [meets our Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

[2017-01-20 17:51] #647 closed

[2017-01-20 17:52] tagliala commented on #657
Hope it helps

[2017-01-20 17:52] #657 closed

[2017-01-20 17:52] tagliala commented on #677
No feedback, closing here

[2017-01-20 17:52] #677 closed

[2017-01-20 18:36] #593 closed

[2017-01-20 19:00] tagliala commented on #683
[code]

This is using a custom validator.

Please make sure you read all the readme about custom validators

https://github.com/DavyJonesLocker/client_side_validations#custom-validators

Hope it helps

Closing here

[2017-01-20 19:00] #683 closed

[2017-01-20 19:04] tagliala commented on #668
Hope it helps

[2017-01-20 19:04] #668 closed

[2017-01-20 20:44] tagliala commented on #687
Nope, didn't get that message

![image](https://cloud.githubusercontent.com/assets/556268/22164900/8a8bc6d4-df59-11e6-8dc6-7842db3d2848.png)

Unable to replicate, closing here

[2017-01-22 12:53] #226 closed

[2017-01-22 14:11] #512 closed

[2017-01-22 14:11] #597 closed

[2017-01-22 14:11] #612 closed

[2017-01-22 14:11] #636 closed

[2017-01-22 14:11] #659 closed

[2017-01-22 18:51] tagliala commented on #687
### Steps to reproduce:
1. Insert `1` in `minimum_players`
2. Use TAB to focus `maximum_players`
3. Insert `2` in `maximum_players`
4. Use SHIFT+TAB to focus `minimum_players`
5. Insert `3` in `minimum_players`
6. Use TAB to focus `maximum_players`
7. `must be less than or equal to maximum_players` message appears
8. Insert `5` in `maximum_players`

### Expected result:
Validation on minimum_playe

[2017-01-22 19:16] tagliala commented on #687
Unfortunately this could not be solved with the actual implementation of CSV or the solution is not naive.

Example:

Model
[code]

1. Insert `3` in `points_1`
2. Use TAB to focus `points_2`
3. Insert `2` in `points_2`
4. Use SHIFT+TAB to focus `points_1`
5. *"Must be greater than points_1"* message appears
3. Insert `1` in `points_16

CSV doesn't validate `points_1` field, so it doesn't know that

[2017-01-24 08:46] varvaray commented on #687
@tagliala thanks for the explanation

[2017-01-26 12:44] tagliala commented on #666
I'm working on https://github.com/DavyJonesLocker/client_side_validations/tree/unobtrusive-javascript branch

The fastest thing that could possibly work is to put al the script inside an html5 `data` attribute and eval it (it should not be necessary, they are just configuration variables, after all).

Any help or thought would be really appreciated.

[2017-01-26 14:57] tagliala commented on #692
# 4.0, 6.0, 7.0, 8.0 OMG! 😱

## Version 6.0
I've intentionally skipped 5.0 because I didn't want a version number which could recall Rails 5.0. As I said before, CSV will follow its own versioning system.

Version 6.0 is basically it's the "old" 4.2 CSV updated to Rails 5.

### Breaking changes
  - Drop Rails 4 support

### New features
  - Rails 5.0 support

---

## Version 7.0
Version 7.0 drops

[2017-01-27 20:16] tagliala commented on #666
Now all tests on the above branch pass.

There is a strange issue with callback tests, I'm investigating

[2017-01-27 23:53] tagliala commented on #666
This feature is ready to ship

[2017-01-28 00:45] tagliala commented on #605
Does not happen with Turbolinks 5

[2017-01-28 17:51] tagliala commented on #661
I'm going to close this because I've fixed the before mentioned issues in version 4.2.4

[2017-01-28 17:51] #661 closed

[2017-01-31 12:16] #601 closed

[2017-02-06 02:00] ghaydarov opened #694 "Disable client_side_validations gem in some forms."
I use this gem in just one form in my app and I only load its js file in that forms layout and initializer file content on that forms model.

My problem is, I have different layout with some other forms that I do not want to use client side validation, and these forms use carrierwave. Now this gem automatically loaded everywhere even if I don't want to use this everywhere. With the forms that I do

[2017-02-06 10:10] tagliala commented on #694
Hi,

From the [README](https://github.com/DavyJonesLocker/client_side_validations#usage)

So you should simply skip `validate: true`

Hope it helps

Closing here

[2017-02-06 12:09] ghaydarov commented on #694
Thanks for the reply. That should be expected behavior, I know, but it doesn't just disable it for some reason.

[2017-02-06 12:14] ghaydarov commented on #694
I have this in initializer, could this be loading everywhere, regardless of validate true?
ActionView::Base.field_error_proc = proc do |html_tag, instance|
  if html_tag =~ /^<label/
    %(<div class="field_with_errors">#{html_tag}<label for="#{instance.send(:tag_id)}" class="message">#{instance.error_message.first}</label></div>).html_safe
  else
  	 %(<div class="field_with_errors">#{html_tag}</

[2017-02-06 14:28] tagliala commented on #694
The above initalizer is supposed to render errors on the client side when the server side validations fail and it should not affect forms without errors

Also, the suggested `field_error_proc` should be:
[code]

It looks like that yours inverts`if` and `else` branches.

[2017-02-06 15:09] ghaydarov commented on #694
It also should not affect forms without validate: true right?
and field_error_proc I have affect the html where errors appear, and that was intended.

[2017-02-06 15:59] ghaydarov commented on #694
Only time this problem goes away is when I remove the gem from gemfile.

[2017-02-06 17:51] tagliala commented on #694
Nope, the above code affects all forms

[2017-02-06 17:55] ghaydarov commented on #694
Ok I see, so now I have form without validate true, and this form includes carrierwave field, where I upload image. If I have CSV gem, for image upload field I get 'cant be blank' error. If I remove the CSV gem, error disappears and and everything is good. Would this be something about CW or CSV?

[2017-02-06 17:59] tagliala commented on #694
`validate: true` means that you want to add client side validations. If you don't want CSV for that form, you should not add CSV.

`validate: true` when CSV is not installed is useless.

Also, you could skip validations on a specific field with `validate: false` but I'm giving a look with carrierwave installed because I've changed a lot of stuff

[2017-02-06 18:03] ghaydarov commented on #694
The thing is I am for using CSV with that form and i don't want to. and I dont have validate: true. I get cant be blank error and no other errors. May be there is a conflict between the gems. Not sure.

[2017-02-06 18:12] tagliala commented on #694
could you please post everything requested here: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

Thanks

[2017-02-06 19:27] ghaydarov commented on #694
Thank you. For the sake of reproduction, I scaffolded new rails app. I added Post model with image field. Added gems CSV and CW. I get the same error. Please note that I dont want to use CSV in this form/model. I want to disable it for this form. When I want to use it, i can use it without any problems. I can't disable it for this form. Thats the problem.

Using client_side_validations 9.0.0
Using

[2017-02-06 20:51] tagliala commented on #694
This is the .html file generated from your .erb template (right click -> view html source)

[code]

I would expect something like
[code]

[2017-02-06 21:36] tagliala commented on #694
Sorry, cannot replicate.

Please take a look at: https://github.com/tagliala/csv-test-carrierwave

This is the resulting HTML
[code]

Please note that there is no `data-client-side-validations` attribute which is **required** to enable CSV on this form.

Please also keep in mind that CSV doesn't skip server side validations.

This means that if you don't allow image to be passed to the model, you

[2017-02-06 21:43] ghaydarov commented on #694
Thanks for your time on this.
I tried to run yours, but it does not have all actions.

Here is my repo, can you please check this.
https://github.com/ghaydarov/CSV-CW

I have allowed image like this :       params.require(:post).permit(:title, :image)

[2017-02-06 21:49] tagliala commented on #694
Cannot replicate the issue on your repo.

Could you please write step to step to reproduce?

[2017-02-06 21:52] ghaydarov commented on #694
1. yes, just go to http://localhost:3000/posts/new
2. try to create new post. It will fail.
3. go to gemfile and remove CSV gem.
now repeat the process again. It will work.

[2017-02-06 22:00] tagliala commented on #694
Finally got it

It seems a CSV bug

[2017-02-06 22:01] ghaydarov commented on #694
Glad you could replicate. I tried to find it in the source, but wasn't able to focus much.

[2017-02-06 22:03] tagliala commented on #694
It looks like CSV is swallowing `enctype="multipart/form-data"` attribute for the form, I'm investigating

[2017-02-06 22:34] tagliala commented on #694
Wow, this never worked on rails 5!

[2017-02-06 22:45] #694 closed

[2017-02-06 22:58] tagliala commented on #694
@ghaydarov thanks, please give a try to the just released 9.0.1 version

[2017-02-06 23:13] ghaydarov commented on #694
Hey @tagliala, great job on this. Thank you! I upgraded and it is working as it is supposed to.

[2017-02-15 14:24] cmolenda commented on #628
Given that I'm using rails, this one line work around did it for me:

_config/initializers/reform_with_client_side_validations.rb_
`Reform::Form.delegate :client_side_validation_hash, to: :model`

[2017-02-20 13:59] Rubab-Syed commented on #450
I'm experiencing the same issue. form.ClientSideValidations.settings is undefined. Any help?

[2017-02-20 16:14] tagliala commented on #450
@Rubab-Syed please open a new issue providing all the information required.

Ref: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

[2017-02-24 08:48] tagliala opened #696 "Rails 5.1 compatibility"

[2017-02-24 14:16] tagliala commented on #696
At the moment it works out of the box. I will not support `form_with` because it is softly deprecated and will stay there until Rails 6.

Please use `rails51` branch if you need Rails 5.1 compatibility. I will merge changes into master asap Rails 5.1 will be released

[2017-03-07 12:36] #696 closed

[2017-03-07 12:42] tagliala commented on #696
Merged on the master branch

[2017-03-13 15:50] alon8900 opened #698 "Bundler could not find compatible versions for gem "client_side_validations""
Hi,
I've removed the `branch: rails5` at the gemfile, and I've got this Error:
[code]

[2017-03-13 18:00] tagliala commented on #698
@alon8900 please post the relevant lines in your gemfile

[2017-04-03 07:33] rohaldb commented on #645
"Fetching git://github.com/DavyJonesLocker/client_side_validations.git
fatal: Needed a single revision
Revision rails5 does not exist in the repository
git://github.com/DavyJonesLocker/client_side_validations.git. Maybe you
misspelled it?"

[2017-04-03 07:56] rohaldb commented on #698
@alon8900 you need to upgrade to the newest version of rails (or downgrade). The gem is not supported on rails 5.0.

[2017-04-03 11:32] tagliala commented on #698
CSV does support Rails 5.0 and 5.1.0.rc1 :)

[2017-04-03 21:58] rohaldb commented on #698
Yep I was running 5.0.0 @tagliala, and I assumed so was @alon8900

[2017-04-04 05:27] rohaldb opened #699 "Error messages not displaying"
After following the installation guide, I can't get the text for the error messages to display. I built a form using form_for, with an input field for an attribute :name, with the validation `validates_presence_of :name`
When i don't enter anything in the field and tab to the next line, an html element
`<div class="field_with_errors">` is generated but there is no text describing the error. The in

[2017-04-04 09:22] tagliala commented on #698
Closing here

[2017-04-04 09:22] #698 closed

[2017-04-04 09:26] tagliala commented on #699
Hi,

thanks for reporting this.

Unfortunately, I cannot keep this open.

Please take another look at our contributing guidelines: https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue

Feel free to edit the first post providing all the information needed and ping me, I will consider reopening.

[2017-04-04 09:26] #699 closed

[2017-04-11 22:07] jasonivers opened #700 "AJAX forms enableClientSideValidations() not actually working"
When I try to use client side validations on a form loaded by AJAX, I get an error any time it tries to actually run validations (i.e. on focus, on blur, etc.), though not on the actual enableClientSideValidation() call:

[code]

I have it running the following code after updating the document:

[code]

I looked through the code in the actual gem, and I pulled some of what enableClientSideValidati

[2017-04-15 13:40] tagliala commented on #700
Hi

Thanks for the detailed explanation

why are you adding `html: { id: 'task-form', validate: true, novalidate: false, data: { validate: true } }`? This should not be needed.

Unfortunately I cannot replicate your issue.

Model
[code]

View
[code]

Task view, loaded remotely
[code]

Ajax loading:
[code]

Result:
![image](https://cloud.githubusercontent.com/assets/556268/25064017/c75f3a2a-21f1-11

[2017-04-17 15:20] AndriySand commented on #387
I had the same error and then I found error there, I used
<%= form_for @zipcode, html: { class: "form-horizontal", validate: true } do |f| %>
when I replaced it with this code everything started work fine
<%= form_for @zipcode, html: { class: "form-horizontal" }, validate: true do |f| %>
Best wishes

[2017-04-19 05:58] dan-klasson opened #701 "Multiple file fields validations"
When having more than 1 file fields, selecting at least one file, and after validation fails on submit. One of the file field disappears.

Using `client_side_validation` version `4.2.12 `.

[2017-04-28 11:32] tagliala commented on #700
Closing here.

I will reopen if you provide a reproducible test case

[2017-04-28 11:32] #700 closed

[2017-04-28 11:32] tagliala commented on #701
Closing here.

I will reopen if you provide a reproducible test case

[2017-04-28 11:32] #701 closed

[2017-05-02 11:42] rohaldb commented on #624
I am struggling to get this to work. Ive tried adding `validates_presence_of  :interest_ids` to ensure that at least one checkbox in a `collection_check_boxes` of interest is selected, but it didnt work. Then i tried to add a custom validator but the custom validator in  `rails.validations.customValidators` was never triggered. How do i use this properly?

[2017-05-02 17:12] tagliala commented on #624
@rohaldb

feel free to start a new issue

Please keep in mind that investigating CSV issues is a time consuming task. Please provide all the information required by the [Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue), but a reduced test case pushed to github would be hugely appreciated. Example: https://github

[2017-05-11 12:10] PierreGUI opened #703 "Pre-filled form appears as valid"
Hello, first thanks a lot for your amazing work!

I have an issue where form appears to be completely valid when it's pre-filled with incomplete data.
Means all the inputs in the form appears valid, even the empty ones (empty isn't valid).
We sometimes get to create a form which is pre-filled with all we know about a user, but some info still are to be filled by the user then.
Validation works per

[2017-05-11 12:52] tagliala commented on #703
Hi,

Thanks for the detailed information.

CSV issues are hard to debug and extremely time consuming to investigate.

The postcode from your html is already filled with the value `1071KB`
[code]

Address is empty indeed.

Unfortunately I cannot understand when the issue appear, since there isn't an automatic error checking when displaying the form fields.

I'm only getting a "can't be blank" issue

[2017-05-11 13:27] PierreGUI commented on #703
Hi,
Thanks for answering so quick.
Indeed screenshot mismatches with HTML (forgot to hide postcode there). Issue shows whatever field is empty or not :(

I'll take some time to produce an example app, hopefully it'd be as simple as:
1. Make a form attached to a model
2. Complete the form, validate the model
3. Tweak model by removing some attributes values then inject back in form

Then the issue

[2017-05-11 15:33] tagliala commented on #703
@PierreGUI

Sorry but as I mentioned bifore, debug non-trivial issues with CSV is quite hard and time consuming.

The best you can do to help me replicate the issue is to provide actual application with a reduced test case (just the gems, models, controllers, views, fields, javascript needed to reproduce the issue), hosted on github, with a valid model (again, just the fields needed to reproduce t

[2017-05-15 15:30] PierreGUI commented on #703
Hey, thanks again for your time helping with this.
As I was creating a project to demonstrate the issue ([here it is](https://github.com/PierreGUI/CSV-isValid)), I managed to understand the issue better.

What happens is I run a validation on the form on page load, m
What it does is show all fields as valid:
`$("form#checkout").isValid(ClientSideValidations.validators)` ([checkout.js#L8](https://g

[2017-05-17 11:42] janraasch commented on #680
The problem is still present in the latest version (`v9.3.1`). I can of course try the `@user.build_address` workaround as per your suggestion. However I am wondering what caused this change in behavior. Do you have any idea? And if so, could we just make it work like before?

[2017-05-17 11:47] tagliala commented on #680
https://github.com/DavyJonesLocker/client_side_validations/issues/680#issuecomment-259197786

Problem is that I cannot replicate on older versions, too.

If you think there is a regression in a specific version (eg: 4.2.4 works, 4.2.5 doesn't), please write a failing test case and use [git bisect](https://git-scm.com/docs/git-bisect) to find the offending commit

[2017-05-19 11:48] Rubioli opened #704 "Validation for price range doesn't work correctly"
Great `gem` 👍

In my application I want to `validate` the `price` and it can't be *less then* $`0.010`.

*I added this to my Model:*
[code]

*And my form:*
[code]

Currently whatever I write, I get `Can't be less then $0.010`. I have tested with *$10*, *$0.010* & *0.009* and all of them gets the same message.

What have I done wrong?

Any help is appreciated and thanks in advanced!

[2017-05-19 11:49] tagliala commented on #703
@PierreGUI sorry for the late reply

Please try

[code]

[2017-05-19 12:46] tagliala commented on #704
Hi,

this should be work, but apparently CSV doesn't convert numeric ranges before checking boundaries.

At the moment, you could use

[code]

but this should be fixed

[2017-05-19 12:54] tagliala commented on #704
Nope, it works.

Please fix the range, it is supposed to be in ascending order, so [0.01..100] but I would avoid mixing floats and integers. I would go for the numericality validator

Hope it helps

[2017-05-19 12:54] #704 closed

[2017-05-19 14:08] PierreGUI commented on #703
Awesome it works!
Thanks a lot for your help :)

[2017-05-19 14:08] #703 closed

[2017-05-19 14:24] tagliala commented on #703
You're welcome.

I've also updated this wiki: https://github.com/DavyJonesLocker/client_side_validations/wiki/Manually-trigger-input-validation

[2017-05-22 15:19] janraasch commented on #680
Hi @tagliala, I finally took the time to git-bisect this puppy. Luckily the offending commit is quite small: 77799b37463d5a42fa17d32aaed50e743ae63d93.

I also found out that it is enough to reverse

[code]

to

[code]

get rid of the problem.

This got me all excited and I tried to debug what is happening here some more, but this is deep into the FormBuilder stuff and I am having trouble understan

[2017-05-22 19:01] tagliala commented on #680
@janraasch thanks for your effort.

The problem is that I still cannot replicate this issue. I can't see a regression from 4.2.4 to 4.2.5.

I would like to see a failing test case, otherwise I cannot help

### Models
[code]

### Controller
[code]

### View
[code]

### Output (CSV 4.2.4)
[code]

### Output (CSV 4.2.5)
[code]

[2017-05-22 19:16] tagliala commented on #680
btw I could definitely see that something may go wrong when

[code]

will overwrite the actual `fields_options` parameter

[2017-05-23 14:31] PierreGUI opened #705 "Nested fields validation"
Hello again,
I have an issue where validation for nested models is not generated. Also, adding validation on the input itself (wrapped with `field_for`) won't have any effect.

## Prerequisites
### Versions
`client_side_validations 9.3.1`
`client_side_validations-simple_form 6.2.0`
`Rails 5.0.1`

### Model
Checkout `has_many :orders`, order `belongs_to :checkout` and `validates :id, presence: true

[2017-05-23 14:43] tagliala commented on #705
Same as https://github.com/DavyJonesLocker/client_side_validations/issues/680#issuecomment-259221769 ?

[2017-05-24 09:22] PierreGUI commented on #705
Might be same same. I can indeed get the validation working when I instantiate the Order object 'manually' in my test project (which is not exactly what I have in prod).
Problem is the validation happens in a form linked to [Devise](https://github.com/plataformatec/devise) so I would have to include it in test project (eventually later).

So far I'm going to change my form to not use `fields_for`,

[2017-05-24 10:11] tagliala commented on #705
I'm using CSV to validate some `attr_accessor` fields, e.g.:

[code]

You mean that you need some server side validations?

[2017-05-26 13:00] janraasch commented on #680
So now I have at least produced a working example you can have a look at.

The code is basically as you suggested:

# Models

[code]

The **key**-point here is the `accepts_nested_attributes_for`-call.

# Controller

[code]

# View

[code]

# Output (CSV 4.2.4)

[code]

To reproduce this locally you may check out https://github.com/janraasch/client_side_validations_debugging/commit/520636625fe8270

[2017-05-26 15:09] janraasch commented on #680
FYI. I added a `form_for` example (w/o `SimpleForm`) to the mix with https://github.com/janraasch/client_side_validations_debugging/commit/dd928df2c2b991cf719fcf083f83789329a74c1a. Interestingly enough the `form_for` version works correctly. So this problem does originate from the 77799b37463d5a42fa17d32aaed50e743ae63d93 commit of this repository/gem, but can only be exhibited when using `simple_f

[2017-05-26 15:42] tagliala commented on #680
I was going to just remove the simple_form dependency to check this issue.

So we are in the wrong repo and I should add a failing test to CSV-simple_form

[2017-05-26 16:08] tagliala commented on #680
Yo!

[2017-05-26 16:18] janraasch commented on #680
Yo? :)

That is for you to decide. So far I have been unable to reproduce this in a unit test.

The issue is definitely because of the

[code]

business I mentioned earlier. `simple_form` sports that same line in their implementation of `simple_fields_for`.

 This `FormBuilder`-stuff is crazy interdependent if you ask me.

[2017-05-26 16:22] tagliala commented on #680
please add
[code]

before
[code]

and it should do the job.

I'm trying to write a failing spec on CSV-simple_form and fix this in CSV

[2017-05-26 17:44] tagliala commented on #680
@janraasch I was been finally able to reproduce the issue inside a spec and fix that

Thanks for your effort

I'm going to release 9.3.2 tomorrow, but I don't know if I will backport this to the 4.2 branch

[2017-05-26 17:47] #680 closed

[2017-05-26 20:37] janraasch commented on #680
Having a working version of `v9.x` is sufficient for my use case. Thank you very much.

[2017-05-26 21:18] tagliala commented on #705
This will be fixed in the upcoming 9.3.2

[2017-05-26 21:18] #705 closed

[2017-05-26 23:55] tagliala commented on #680
@janraasch thanks for being so patient, it really took a lot of time to understand what was going on.

I've just released CSV 9.3.2 and CSV-simple_form 6.3.0.

The issue has been fixed in CSV, so you should be fine by just updating the CSV gem.

I took the opportunity to release CSV-simple_form 6.3.0 which contains another spec to test `simple_fields_for` hoping that it would avoid regressions in

[2017-05-29 18:27] klamath commented on #696
@tagliala Hi! Can you please provide proof links for deprecation of `form_with`?
I thought that `form_for` & 'form_tag` is softly deprecated. Now I'm totally confused (

[2017-05-29 18:47] tagliala commented on #696
@klamath sorry

Fixed my comment above:

[2017-06-01 18:26] brucew opened #706 "Confirmation validation doesn't handle some special characters"
I recently upgraded from Rails 4.2 to 5.1 and as a result also updated CSV from 4.2.5 to 9.3.1. I'm having an issue with the CSV 9.3.1 confirmation. We use an email_confirmation input in several forms and with certain emails the confirmation validation is failing even when the values are the same.

For example, emails "test@example.com" and "test000@example.com" when typed into email and email_con

[2017-06-01 18:29] tagliala commented on #706
Hi.

Thanks for reporting this, I will definitely take a look

[2017-06-01 18:59] #706 closed

[2017-06-01 19:08] tagliala commented on #706
@brucew thanks,

just released 9.3.3 with the fix you proposed. Let me know if everthing is going fine

[2017-06-01 20:13] brucew commented on #706
Wow! That was quick!

Confirmed 9.3.3 fixes my issue.

Thanks!

[2017-06-02 11:59] tagliala commented on #706
@brucew expect a new version in a short while

https://msdn.microsoft.com/en-us/library/bb386042.aspx

[2017-06-02 12:18] tagliala commented on #706
Changing to `toUpperCase` or returning to a proper escaped regexp, will not solve [The Turkish İ Problem ](http://haacked.com/archive/2012/07/05/turkish-i-problem-and-why-you-should-care.aspx/) in any case, so 🤷‍♂️

[2017-06-02 18:35] brucew commented on #706
We do what we can with what we have 😆

[2017-06-21 07:04] bbReddera opened #707 "Validate file information on client side"
I am using client_side_validations along with MongoDb, Simple form and mongoid-paperclip, all the validations are showing proper error messages, one beard thing is, if there are validation failure for any file or non-file field the attached files disappears and the user is required to attach the file again and need to submit the form again.

Earlier, I thought there is some issue with my code, but

[2017-06-21 07:19] tagliala commented on #707
Hi,

thanks for reporting this.

You mean a client side validation failure?

Could you please also try the behaviour without client side validations?

mongo-simple-client_side.zip

Could you please upload the example application to a repository on github?

I do not feel confident in downloading zip blobs, I would like to remove the attachment

[2017-06-21 08:08] bbReddera commented on #707
Hello,

Here is the github link for the sample app:

https://github.com/chiragagrawal/mongo_client_side_validation_issue.

Also, it is like when I am adding a wrong image(either of wrong content type or wrong dimensions) for the user model, it is running the validation which are in my model **User.rb** and it is showing the errors also but it is resetting the attached, which means user need to aga

[2017-06-21 09:06] tagliala commented on #707
I'm seeing that you are using an old and unsupported version of CSV

By the way, could you please try without client side validations and let me know the results?

[2017-06-21 09:29] bbReddera commented on #707
I tested it without client side validations and it seems Paperclip won't store the path and it resets the form, but the issue here is "**client side validations**" for attachment is not performed at client side, it is submitting the request into the backend and there it is checking for the image size, dimensions and presence.

[2017-06-21 10:41] tagliala commented on #707
Ok, thanks.

Sorry but this feature is not supported and it should also be hard to implement

I think the implementation should rely on [FileReader API](https://developer.mozilla.org/it/docs/Web/API/FileReader) and [Blob API](https://developer.mozilla.org/en-US/docs/Web/API/Blob) (IE10+), with some [complex header inspection methods](https://stackoverflow.com/a/29672957/1675923) and maybe more stu

[2017-06-21 10:41] #707 closed

[2017-06-22 08:05] chiragagrawal opened #708 "File field getting disappeared for more than one file field"
Hello,

I am using simple_form along with client side validations gem and mongoid:peperclip for the attachments, everything is working fine with one attachment but it is giving me issues with two file fields.

I am creating user with the help of modal and running create request as js, I am not refreshing the page and I have two file fields for attaching images or any file, on press of submit butto

[2017-06-22 16:28] tagliala commented on #708
Hi @chiragagrawal

Thanks for reporting this.

CSV issues are hard to debug and extremely time consuming to investigate.

You should provide all the information required in the [Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

The best you can do to speed up things is to share a new application with just the mi

[2017-06-22 16:35] tagliala commented on #708
Please also note that you can copy & paste your code here.

https://guides.github.com/features/mastering-markdown/

Eg:
[code]

will result into:

[code]

[code]

[2017-06-23 14:26] Rubioli opened #709 "Disable validation when object is added as nested_form"
Great gem 👍

I have models `Post` &  `Image` and my models are set up as:
[code]

In my application user can add many images under a post & I'm have my nested_forms inside `post#_image_fields.html.haml`.

*My `posts#new` is set up as:*
[code]

*My `posts#image_fields` is set up as:*
[code]
*PS: As you can see I don't have `:price` in my `posts#image_fields` for images & its because image will inhe

[2017-06-23 14:38] tagliala commented on #709
Hi,

thanks for reporting this.

CSV issues are hard to debug and extremely time consuming to investigate.

You should provide all the information required by the [Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)

The best you can do to speed up things is to share a new application with just the minimum amount o

[2017-06-23 15:01] Rubioli commented on #709
Thanks for your reply.
I have two questions before starting with setting up the dummy application.

1) Can validation be skipped when creating new object and only apply of update?
2) CSV doesn't support Rails 4 so I can't use it in Rails 4 application?

Appreciate your help :)

[2017-06-23 15:19] tagliala commented on #709
I'm not sure I understand the issue.

Given that CSV is not involved in server side validations (is [this](http://guides.rubyonrails.org/active_record_validations.html#on) involved?), you could use different templates or do something like `validate: object.persisted?` to enable client side validations only when the object is already persisted in the database (= editing)

CSV 4.x does support Rails

[2017-06-23 16:01] Rubioli commented on #709
Hello @tagliala Thanks for your reply.

Here you have the project: https://github.com/Rubioli/csv_test

As you can see if you go to http://localhost:3000/posts/new, you can't create a post and its because `:price` is `present: true` from `Image` model but not added in that `nested_form` and image `:price` will be added/inherit from `Post` model with `after_create :add_price`.

So basically I try t

[2017-06-24 03:57] chiragagrawal commented on #708
Hello @tagliala

It is not about uploading CSV, it is all about uploading images, which gives me error.

You can find my code below for the **_form** which I am rendering on **Bootstrap modal** also I am attaching my code from the **controller. model and js file**

**_form.html.haml**

[code]

**On model, I have validations like**
[code]

[2017-06-24 10:07] tagliala commented on #708
Hi, CSV = ClientSideValidations :)

Please take a look at this wiki: https://github.com/DavyJonesLocker/client_side_validations/wiki/Bootstrap-Modal-Validations

Sorry for being pedantic but the more complexity you are adding to your bug report, the more is difficult to understand the issue.

[Contributing guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUT

[2017-07-02 16:01] salmagomaa opened #710 "Devise's email validations (uniqueness and regexp) is not working with client_side_validations"
1. Version of ClientSideValidations: _9.3.3_
2. Version of Rails: _5.1.1_
3. Code snippet from your model of the validations:
[code]

4. The form code from your template

[code]

5. Result:
On blurring the email's input field, an error only shown if it is empty but if it already existed or if it has invalid format, no error is shown.

I need the client_side_validations to be shown for all cases of

[2017-07-02 20:44] tagliala commented on #710
Hi,

Uniqueness validator was removed in version 7.0. It was bugged and not secure. It exposed your app to data disclosure. Also, it was using a blocking ajax request.

Hope it helps

[2017-07-03 08:33] salmagomaa commented on #710
Thank you @tagliala!
But I wonder if you help me to use the remote validation instead (as stated [here](https://github.com/DavyJonesLocker/client_side_validations/wiki/Custom-Validators)), as I found that the ClientSideValidations::Middleware has been removed too, so do you have any other suggestion?

[2017-07-03 11:43] tagliala commented on #710
You're welcome @salmagomaa

Quoting from: https://github.com/DavyJonesLocker/client_side_validations/issues/692#issuecomment-275408571

At the moment I can't update that wiki.

My suggestion is to try by yourself, but since you cannot rely on the middleware, you should add a custom controller and action in your Rails Application.

Something like:

[code]

[code]

[code]

[code]

Please note that t

[2017-07-15 10:01] tagliala commented on #710
I've released an updated version of CSV, but it should not fix all devise related issues.

You may still need to specify `validate: true` near email fields (e.g.: new session)

[2017-07-20 11:44] tagliala commented on #710
Hi, I'm going to close this one.

For people experiencing this issue:

it doesn't work because the uniqueness middleware was removed from the gem in version 7.0 because of security issues (brute force data disclosure). You are still free to implement your own remote validator

It works. Please note that in some forms (login, password recovery) you still need to pass `validate: true` to the email f

[2017-07-20 11:44] #710 closed

[2017-07-21 14:42] tagliala opened #712 "CSV does not properly validate associations"
### Steps to reproduce*
1. Focus on the association field
2. Focus on the next field

### Expected behavior*
Client Side Validations validates existence "Must exist"

### Actual behavior*
Client Side Validations does not validate existence "Must exist"

### System configuration*
**Rails version**: 5.1.4

**Ruby version**: 2.4.2

**Client Side Validations version**: 10.1.0

### Code snippet from yo

[2017-07-23 18:52] jfyzhao opened #713 "Using Proc outside of if condition"
Is this supported? Validation seems to work correctly but not trigger the client side validation. Gives an error when I try to force it by setting validate: true on the individual input.

Using v9.3

For example:
`validates :price, numericality: { greater_than: Proc.new { |offer| offer.parent_model.some_attribute }, less_than: 1000 }
`

[2017-07-23 20:38] tagliala commented on #713
Hi,

this use case should work.

As per [Readme](https://github.com/DavyJonesLocker/client_side_validations#conditional-validators)

Please use

[code]

in your template

Hope it helps

[2017-07-23 20:38] #713 closed

[2017-07-28 17:54] dokuzbir opened #714 "Rails 5.04 javascript working but just adding empty line"
I am using turbolinks and  rails 5.04 on page javascript working. But just adding empty line not showing error. What can cause that error? **version is 9.3.4**

**My model**
[code]

**On html javascript working in form**

"`<form class="new_user" id="new_user" novalidate="novalidate" data-client-side-validations="{"html_settings":{"type":"ActionView::Helpers::FormBuilder","input_tag":"\u003cdiv cl

[2017-07-28 19:41] tagliala commented on #714
Hi,

thanks for reporting this.

Debugging CSV issues is hard and time consuming, please also past your `application.js`, `.erb` (`slim`/`haml`) template and the `html` generated output

[2017-08-01 08:41] reckerswartz opened #715 "Changing position of error message and element of error"
Hey I am working on webapp with framework [Materialize](http://materializecss.com/) Which uses the different method to show the error message. Instead of, showing the message in label , It uses data-error attribute with in the label tag to show in error message.
Example
[code]
As per the document changes are need to be done in
config/initializers/client_side_validations.rb

[code]
but I am unable

[2017-08-01 09:04] tagliala commented on #715
Hi,

Thanks for all those details. Track down CSV issues is time consuming, debugging CSV issues with other frameworks is worse.

Did you voluntarily omit the `data-client-side-validations` attribute? it is very important.

You probably need a custom javascript file, something like this: https://github.com/DavyJonesLocker/client_side_validations-simple_form/blob/master/coffeescript/rails.validatio

[2017-08-07 06:49] reckerswartz commented on #715
Hey,
Thank you for the response. as per your guide I made my changes into javascript file as given below.

I am able to receive the message correctly but can't able to put proper validation for presence true.
when I use validate presence: true
I am able to get the error message of can't be blank but it was not removed when I enter the text until I resolve next validation related to the same field.

[2017-08-07 08:22] tagliala commented on #715
Hi,

please double check that your remove function is checking that `custom-form-error` class is present on the proper element.

Please take another look here: https://github.com/DavyJonesLocker/client_side_validations-simple_form/blob/master/coffeescript/rails.validations.simple_form.coffee

[2017-08-22 21:32] JarLowrey opened #716 "Issues with presence:true validation in autocomplete input"
I have an input with autocomplete setup where `presence: true`. If I select an option from the autocomplete, the error does not go away after focus has changed. I have to manually type something and then change focus.

I have stepped thru the jQuery and the `presence` function inside the `validators` object is not triggered when I select something from the autocomplete pop-up menu.

[2017-08-22 22:12] tagliala commented on #716
Hi,

which autocomplete library are you using? Did you test others?

[2017-08-23 10:34] tagliala commented on #708
No feedback, closing here

[2017-08-23 10:34] #708 closed

[2017-08-23 10:35] tagliala commented on #714
No feedback, closing here

[2017-08-23 10:35] #714 closed

[2017-08-25 09:30] wasif-saeed-confiz opened #717 "Issue with only_integer: true numericality validator"
Hi i am using a validation numericality:
[code]
Problem is that client side js allows user to add , separated format but server side validation give error message.

[2017-08-28 17:56] JarLowrey commented on #716
[jQuery autocomplete](https://jqueryui.com/autocomplete/). I have not tested any others, which would you recommend?

[2017-08-28 19:01] tagliala commented on #716
Please check this wiki: https://github.com/DavyJonesLocker/client_side_validations/wiki/jQuery-Plugins#jquery-plugins

you will probably need something like that

PS: please edit the wiki if you are able to find a solution

[2017-08-29 15:24] JarLowrey commented on #716
Updated! Thanks for your help! https://github.com/DavyJonesLocker/client_side_validations/wiki/jQuery-Plugins#jqueryui-autocomplete

[2017-08-29 15:24] #716 closed

[2017-08-31 10:40] tagliala commented on #717
![image](https://user-images.githubusercontent.com/556268/29919366-50e5426c-8e49-11e7-9c48-fb5a853662ec.png)

![image](https://user-images.githubusercontent.com/556268/29919391-62832dc2-8e49-11e7-9555-f1ce248b0eb1.png)

Cannot confirm, closing here.

Debugging CSV issues is time consuming. Please provide all the details required by the [contributing guidelines for new issues](https://github.com/Da

[2017-08-31 11:03] wasif-saeed-confiz commented on #717
@tagliala  add number with proper format like 10,000 i have debug and came to know that there is issue in js level validation. js allows user to add numbers in properly , formatted. but rails did not allow.

[2017-08-31 11:04] wasif-saeed-confiz commented on #717
try your code with 10,000 value.

[2017-08-31 12:41] tagliala commented on #717
Replicated, thanks.

I suppose that this is an expected behaviour to deal with localization and I'm not confident in removing this feature.

The current implementation of CSV allows users to submit values like `123,45`, which is the same of `123.45` here in Italy and in some other European countries.

This will also allow user to better display long integers.

Eg:

1. User inserts a product with t

[2017-08-31 14:26] wasif-saeed-confiz commented on #717
@tagliala Thanks for your help. : ) will try this out.

[2017-08-31 23:01] NirvashType0 opened #718 "validate: true property on for_form results on a weird html"
### Steps to reproduce*
Just adding validate: true to a form_for
### Expected behavior*
The html output results on add data-validate="true"

### Actual behavior*
The html output results does not add data-validate="true" instead add data-client-side-validations="bunch of weird code"

### System configuration*
**Rails version**:5.3.1

**Ruby version**:2.3.4

**Client Side Validations version**: 9.3.

[2017-09-01 01:04] tagliala commented on #718
Hi,

that is by design :)

That code represents the constraints against which the object will be validated.

Ref: #666

Please consider using [judge](https://github.com/joecorcoran/judge) if you need a different approach (separate javascript file for validations, which needs to be compiled and then referenced in the assets pipeline)

[2017-09-01 01:04] #718 closed

[2017-09-01 14:40] NirvashType0 commented on #718
Nope, I want to use the model validation with the gem :/ is there something I´m doing wrong?

[2017-09-01 14:59] NirvashType0 commented on #718
I solved the missing attribute tag with the next fix on the form_for tag:
'<%= form_for @invmtoproducto, data: {validate: true} do |form| %>
<% end %>' but still not working, the javascript for this is not working:

'$('.modal').on('shown.bs.modal', function() {
  $('form[data-validate]').enableClientSideValidations();
});'

[2017-09-01 17:46] tagliala commented on #718
why?

this code is related to hidden/dynamic forms added in bootstrap modals.

Please open a new issue explaining your problem

[2017-09-01 17:51] NirvashType0 commented on #718
OK, thank you!

[2017-09-02 17:00] tagliala commented on #717
@wasif-saeed-confiz I'm considering to rewrite this feature in CSV 10.

I think that the principle of least surprise would be preserved when client side validations act like server side validations.

So, `only_integer: true` option should not allow for `.` and `,` by default, as per [Active Model's numericality validator](https://github.com/rails/rails/blob/47eadb68bfcae1641b019e07e051aa39420685fb

[2017-09-05 02:59] radvc opened #719 "TypeError: $(...).enableClientSideValidations is not a function"
I don't know why Im getting this but before my validation in modal is working, also in my other projects validation is working.

[2017-09-05 03:08] radvc commented on #719
I already fix my problem, Thanks!

[2017-09-05 03:08] #719 closed

[2017-09-05 06:50] wasif-saeed-confiz commented on #717
What would be great because everyone things server side validation should match with client side validation.

[2017-09-07 20:50] NirvashType0 commented on #719
Hey man! Im trying to enable inline client side validations on my project with modals but at the moment the only thing I get succesfull is the fact that the forms are not submited because they does not pass the validation but no inline errors showing, I really need help, maybe you can show me the way you create your modals and how use the gem for modals! TY

[2017-09-07 21:34] NirvashType0 opened #720 "Inline validations on ajax modals not showing"
### Steps to reproduce*
1- Navigate to localhost:3000/invmtolineas
2-Click on 'Nueva Linea' button
3-Leave the form input blank and no validation is shown inline

### Expected behavior*
The inline validation should show after leaving the blank field

### Actual behavior*
No message showed, but at least seems like the validation is running cause the form cant be submited unless the field is not bla

[2017-09-07 21:57] tagliala commented on #720
Hi.

Debugging CSV issues is extremely time consuming.

Could you please fix the code by properly using [github flavored markdown](https://guides.github.com/features/mastering-markdown/)

Also, using CSV with modals requires extra javascript, I also need that javascript.

In this case, I need that you should setup a repository demonstrating the issue to get an answer

[2017-09-07 22:04] tagliala commented on #720
Of course, you should take a look at these wikies:

- https://github.com/DavyJonesLocker/client_side_validations/wiki/Validating-dynamically-added-forms
- https://github.com/DavyJonesLocker/client_side_validations/wiki/Bootstrap-Modal-Validations

(in general: you need to configure a callback after the successfull ajax call to load client side validations. Also, you need a supported form builder i

[2017-09-07 23:10] NirvashType0 commented on #720
Im actually trying to style the post code!

[2017-09-07 23:15] NirvashType0 commented on #720
I already checked this link
https://github.com/DavyJonesLocker/client_side_validations/wiki/Bootstrap-Modal-Validations

Is the same javascript I´m using

[2017-09-08 15:04] NirvashType0 commented on #720
Repository uploaded!

[2017-09-09 09:34] tagliala commented on #720
@NirvashType0 , thanks

As I said, debugging CSV issue is time consuming.

Please note that the repository should contain a reduced test case (as per [Contributing Guidelines](https://github.com/DavyJonesLocker/client_side_validations/blob/master/CONTRIBUTING.md#submitting-a-new-issue)):

*emphasis mine*

Please just include the code (javascript and models) needed to reproduce the issue, and a ste

[2017-09-11 14:18] #717 closed

[2017-09-11 14:18] tagliala commented on #717
Hi @wasif-saeed-confiz, please give a try to the master branch

[2017-09-11 15:13] NirvashType0 commented on #720
I honestly cant find a way to share it with the db, so, ill share with you the project hosted on c9, if you want I can share with you access to the project to check the code!

[2017-09-11 15:19] tagliala commented on #720
Are persisted data needed?

If the answer is no, you should not share the db.

If the answer is yes, add just the minimum amount of data to replicate the issue to `db/seeds.rb`

Or use sqlite3 as database and commit `development.db` in the repository.

[2017-09-11 21:02] NirvashType0 commented on #720
I will upload the project with sqlite now! There is no need to include data since all I am doing is validate to add new data, I will update the steps to reproduce the r

[2017-09-11 21:52] NirvashType0 commented on #720
Done! Project uploaded with sqlite! Hope you can help me :D

[2017-09-12 05:29] wasif-saeed-confiz commented on #717
Currently i am busy with the production. I will try this in next sprint. Thanks

[2017-09-12 07:29] seaify opened #721 "validators not working when use with_options"
model code
[code]
normal code which runs well

[code]

html code
[code]
main problem is that at html side, the validators is empty

### System configuration*

Rails version: 5.0.5

Ruby version: 2.3.4

Client Side Validations version: 9.3.4

[2017-09-12 16:48] NirvashType0 commented on #720
I added this javascript to my invmtolineas.js and actually I check with the browser console and  it seems to be catching the shown event everytime I open the modal but still no validation message being showed, maybe a problem related to the inputs or the form, I here the js:

       $(document).on('shown.bs.modal', "#myModal", function() {
	     $('form[data-validate]').enableClientSideValidations

[2017-09-14 16:01] NirvashType0 commented on #720
I guess I have just bad luck T.T maybe the jquery plugin for validations will be my final approach! Still hoping this can be solved :'D

[2017-09-17 16:22] tagliala commented on #721
Hi,

thanks for this.

I don't think this is expected to work and implementation is far from being easy.

###Workaround:
There could be a possible workaround with conditional validations. **Note that this code might not work, imagine it as pseudocode.**

####Model:
[code]

####Form:
[code]

Feel free to submit a PR to deal with `with_options`

Meanwhile, closing here

[2017-09-17 16:22] #721 closed

[2017-09-17 16:41] tagliala commented on #720
Hi @NirvashType0

the problem was extremely simple: the wiki was not updated to the latest CSV, which is using `data-client-side-validations` instead of `data-validate`

I've updated the wiki with an idempotent event, so it should be compatible with turbolinks and jquery.

Here it is:

[code]

Please translate to javascript if you need .js instead

Hope it helps

[2017-09-17 16:41] #720 closed

[2017-09-17 23:26] NirvashType0 commented on #720
Wow! I dint even though about this! Thanks man! :D you´re awesome!

[2017-10-03 12:05] eliotsykes commented on #502
Just highlighting this for developers searching for Paperclip and client side validations for attachment file size and Content-Type, check out the wiki page section: https://github.com/DavyJonesLocker/client_side_validations/wiki/Paperclip#size-and-content-validation

[2017-10-03 12:44] tagliala commented on #502
@eliotsykes thanks

Since CSV is supposed to support IE >= 8, could you please clarify browser compatibility and an alternative way to load it without turbolinks?

[2017-10-03 13:36] eliotsykes commented on #502
Hi @tagliala - thanks that section has been there a long time, not written by me. I added notes today that's all. I'll add what I can from what you suggested.

[2017-10-03 14:13] tagliala commented on #502
Thanks.

Does this work? I'm seeing that javascript only checks for `less_than_or_equal_to`

[2017-10-03 14:57] eliotsykes commented on #502
@tagliala - that wouldn't work as is, nor would `less_than` or the other possible options, it'd need modifying. I've adjusted the original code snippets to similar to what I'm using locally. Its now using `less_than`, and this would not work with other options, it would need further modification.

[2017-10-06 13:47] murdoch commented on #696
Would it be hard to support `form_with`? I reckon a lot of people will like it :) Maybe I'll try and do it myself.

[2017-10-06 14:30] tagliala commented on #696
@murdoch yes, please.

IIRC, I've skipped `form_with` because its implementation was not straightforward

A PR and a test case would be highly appreciated

[2017-10-07 09:58] TAiS46 commented on #47
Since 2011 no fix for it?

[2017-10-10 21:27] tagliala opened #724 "Regression in numericality validator with only integer and allow blank"
### Steps to reproduce*

### Expected behavior*
CSV does not throw a validation error

### Actual behavior*
CSV throws a validation error

### System configuration*
**Rails version**: 5.1.4

**Ruby version**: 2.4.2

**Client Side Validations version**: 10.0.0

### Code snippet from your model of the validations*
[code]

### The whole form code from your template*
No

### The resulting HTML*
No

##

[2017-10-10 21:37] #724 closed

[2017-10-26 14:08] tagliala commented on #543
[code]

⚠️  This is an example implementation. May require additional checks.

[2017-10-30 08:32] yunshang opened #725 "Validation for uniqueness not working"
### model code
[code]
### html code
[code]

### results screenshot
![aa](https://user-images.githubusercontent.com/5956306/32160950-d83ada86-bd21-11e7-9fc0-e7c08c0fce1d.png)
![image](https://user-images.githubusercontent.com/5956306/32161011-136f48ee-bd22-11e7-82de-6c7d4c10ed09.png)

Only the uniqueness validators not working, has been unable to find the problem.Sorry, English is very poor.

### S

[2017-10-30 09:21] tagliala commented on #725
Hi, uniqueness validator support was removed in version 7.0.

Ref: #512 #597 #612 #636 #659 #226 https://github.com/DavyJonesLocker/client_side_validations/issues/692#issuecomment-275408571

[2017-10-30 09:21] #725 closed

[2017-11-20 06:16] pasanrox opened #727 "can any one give me a tip to add css modicications when using this gem"
### Steps to reproduce*

### Expected behavior*
Tell us what should happen

### Actual behavior*
Tell us what happens instead

### System configuration*
**Rails version**:

**Ruby version**:

**Client Side Validations version**:

### Code snippet from your model of the validations*

### The whole form code from your template*

### The resulting HTML*

### Browser's development console output*
_Ple

[2017-11-20 10:33] tagliala commented on #727
Hi,

could you please fix this report?

1. Provide a shorter, better title
2. Explain your question. Since this is not an issue report, please remove the issue template and explain what you need

Please take a look at this readme section, maybe this is what you are looking for: https://github.com/DavyJonesLocker/client_side_validations#customize-error-rendering

Meanwhile, closing here.

Feel free

[2017-11-20 10:33] #727 closed

[2017-11-29 19:54] #712 closed

[2017-12-14 06:29] bpdarlyn opened #728 "Remote Validation with Promise"
Maybe is not the best way, but I try help someone
this method I change :
[code]

And for call It

[code]

**I hope It helps you!!**

[2017-12-14 07:40] tagliala commented on #728
@bpdarlyn thanks!

This would really help

Could you please write a wiki page?

https://github.com/DavyJonesLocker/client_side_validations/wiki/_new

[2017-12-29 16:54] matissg opened #729 "validations in modal window tabs"
### Steps to reproduce*

### Expected behavior*
In my modal window I have form which is split in two tabs: 1) info, 2) details. I would like to have `client_side_validations` to work in both tabs. How do I accomplish this, please?

### Actual behavior*
At the moment `client_side_validations` work as expected only in "info"tab (1st one), but there is no signs of validation in 2nd tab - "details".

[2017-12-29 17:55] tagliala commented on #729
Hi, please take a look at https://github.com/DavyJonesLocker/client_side_validations/wiki/Bootstrap-Modal-Validations

[2017-12-29 18:42] matissg commented on #729
@tagliala Hi, yes, I have it in my `<%= javascript_include_tag "shared/validations.js"`
The thing is my client side validations work only for the first tab. When I click on second time, nothing happens. I even tried to add script in my modal something like this:
[code]
basically trying to enable validations when my second tab is clicked, but nothing happens.
What am I doing wrong, please?

[2017-12-29 23:30] tagliala commented on #729
you need an idempotent event attached on document, please take another look at the wiki

[2017-12-30 10:01] matissg commented on #729
@tagliala  Should I manually trigger validation [like here](https://github.com/DavyJonesLocker/client_side_validations/wiki/Manually-trigger-input-validation)? Please, link me to some example as I'm still learning JS.

[2017-12-30 11:10] tagliala commented on #729
Try to change this:
[code]

into this:
[code]

[2017-12-30 12:18] matissg commented on #729
@tagliala Aha, now I see :) Thank you, it works just fine.

[2017-12-30 12:36] tagliala commented on #729
you're welcome

[2017-12-30 12:36] #729 closed

[2018-01-12 01:15] mquispe1185 opened #730 "Configure client_side_validations on rails 5.0"
I can show validations messages correctly in a normal form but NOT IN MODAL FORM.  the solutions in the wiki seems not to work in rails 5.0 as they show a solution for Rails 5.1. this are my gems
client_side_validations (11.0.0)
client_side_validations-simple_form (6.5.0)
rails (5.0.6, 5.0.3, 5.0.2)
bootstrap-sass (3.3.7)

this is my aplication.js
  `$(document).on('turbolinks:load', function(){

[2018-01-12 09:58] tagliala commented on #730
Hi,

for normal forms, CSV should work out of the box.

Please provide all the information requested in the issue report template

Closing here, please start a new one and answer all the questions

[2018-01-12 09:58] #730 closed

[2018-01-12 14:33] mquispe1185 commented on #730
HI, excuse me my english is bad, what do you refer to "out of the box"?
which is the box in the form or modal?. thanks for reply

2018-01-12 6:58 GMT-03:00 Geremia Taglialatela <notifications@github.com>:

--
Matias E. Quispe

[2018-01-12 14:35] tagliala commented on #730
@mquispe1185 it should work without just by following the readme. You don't need extra javascript to make it work

[2018-01-12 15:51] mquispe1185 commented on #730
yes, the gem works perfec in normal form, but not in modal, i add to my
aplication.js this:
   $(document).on('turbolinks:load', function(){

     $('.modal').on('shown.bs.modal', function() {
   $('form[data-client-side-validations]').enableClientSideValidations();
 });
});
but csv is not working on modal. please help me. Also the issue could be in
the way I call the modal. this is my link
in the

[2018-01-12 16:36] mquispe1185 opened #731 "Modal CSV implementation not working"
in normal form this is an input with CSV working ok:
`<input class="col-sm-5" value="" name="usuario[usuario]" id="usuario_usuario" data-validate="true" type="text">`
it has data-validate="true"

when I reproduce the form in MODAL

`<input class="col-sm-5" name="usuario[usuario]" id="usuario_usuario" type="text">`

here there is no attribute data-validate

this is my aplication.js
`$(document).on(

[2018-01-12 22:34] tagliala commented on #730
Nope.

Idempotent events should not be wrapped inside `$(document).on('turbolinks:load', function(){`

This is enough
[code]

Please make sure that your modals have the .modal class and that this function is being called (put a breakpoint or an old fashioned console.log)

[2018-01-12 22:36] tagliala commented on #731
Hi, please fix the first post. There is missing information.

Debugging CSV issues is extremely time consuming, especially when other libraries are involved.

Please post the whole

### Code snippet from your model of the validations*

### The whole form code from your template*

### The resulting HTML*

Take a look at #729, that is a very good report

[2018-01-13 16:10] mquispe1185 commented on #731
Hi, you can close the psot, finally i can resolve my issue. It was the way
i was calling the modal(using js.erb no was a good idea). thanks for your
patiente and time, and thanks for translate the extra code form coffee to
js, now it works perfect!

2018-01-12 19:36 GMT-03:00 Geremia Taglialatela <notifications@github.com>:

--
Matias E. Quispe

[2018-01-13 16:36] #731 closed

[2018-01-26 12:22] dvodvo opened #732 "scripts not generated for multiple record creation via single form"
### Steps to reproduce*
Disabled old version of gem from the gem file.  New application requirements were needed for client side validations, and thus gem reinstalled.  also ran `rails g client_side_validations:install` just to be sure. `//= require rails.validations` is invoked after `//= require turbolinks`in the application.js pipeline configurator.  The 7-line block ` ActionView::Base.field_er

[2018-01-26 13:09] tagliala commented on #732
Ciao!

thanks for reporting this.

Sorry, but I don't have resources to maintain a Rails 4.x compatible version of CSV.

If you are able to replicate this issue on CSV 11.0 / Rails 5.x I will definitely take a look.

Anyway, please note that:
* Your template uses `form_tag`, but CSV only works with `form_for`, as per [README](https://github.com/DavyJonesLocker/client_side_validations#usage)
* You

[2018-01-26 13:09] #732 closed

[2018-02-05 11:26] reckerswartz opened #733 "'unsafe-eval' is not an allowed source of script"
https://github.com/DavyJonesLocker/client_side_validations/blob/b393a8b419873f57c44c50624cee330268a013a6/coffeescript/rails.validations.coffee#L335
https://github.com/DavyJonesLocker/client_side_validations/blob/b393a8b419873f57c44c50624cee330268a013a6/coffeescript/rails.validations.coffee#L352

### Above line of codes produces error
Uncaught EvalError: Refused to evaluate a string as JavaScript b

[2018-02-05 11:36] tagliala commented on #733
Hi,

thanks for reporting this

A PR would be hugely appreciated

[2018-02-05 12:17] tagliala commented on #728
@bpdarlyn sorry but I'm going to close this because it belongs to wiki

Please check: https://github.com/DavyJonesLocker/client_side_validations/wiki/Remote-validations-with-Promise

[2018-02-05 12:17] #728 closed

[2018-02-06 06:30] reckerswartz commented on #733
Will provide PR soon.

[2018-02-06 14:22] tagliala commented on #733
@reckerswartz thanks

I gave a fast look, it doesn't look easy

By the way, there are three calls to `Function` that should be addressed. The tokenizer seems the most complex. Fortunately, tokenizer option has been deprecated and we could bump the major version number and drop that feature

[2018-02-06 14:42] reckerswartz commented on #733
@tagliala thanks for giving look to it.
tokenizer will be droped in PR.

[2018-02-06 14:48] tagliala commented on #733
you're welcome, thank you!

Please make sure `rake test:js` passes

[2018-02-06 16:22] tagliala commented on #715
I'm going to close this one, since it looks like a third-party integration question about client side validation rather than an issue

[2018-02-06 16:22] #715 closed

[2018-02-10 16:14] reckerswartz opened #734 "devise wiki/method needs to be improved"
### Steps to reproduce*
New Project with [Devise](https://github.com/plataformatec/devise) < 4.4.0
and adding model validation
[code]
according to https://github.com/DavyJonesLocker/client_side_validations/wiki/Devise
### Expected behavior*
able to show error on bases of validation without any issue
### Actual behavior*
well it not the client_side_validations issue but devise change the way of val

[2018-02-10 16:27] tagliala commented on #734
Hi,

thanks for reporting this.

Why are you adding
[code]

to your model?

Those validations are included by the `validatable` module ([ref](https://github.com/plataformatec/devise/blob/v4.4.1/lib/devise/models/validatable.rb#L30))

Please note that, as per [README](https://github.com/DavyJonesLocker/client_side_validations#conditional-validators), By default conditional validators are not evalua

[2018-02-12 19:20] vedran commented on #630
Hello.

I have a hacky method that solves this problem for me. I don't have a PR because I think this is too hacky for a general solution.

I included the following javascript into the page that contains my form. Essentially it just checks if the Client Side Validation function is about to add/remove an error to the password field, and adds it to the password_confirmation field instead.

I spent a

[2018-02-14 12:41] reckerswartz commented on #733
rake test:js
Opening test app at http://localhost:4567 ...
== Sinatra (v2.0.0) has taken the stage on 8080 for development with backup from Thin
Thin web server (v1.7.2 codename Bachmanity)
Maximum connections set to 1024
Listening on localhost:8080, CTRL+C to stop
ERROR: no web browser detected

error on cloud9.

[2018-02-14 13:02] tagliala commented on #733
@reckerswartz javascript unit tests require a real browser installed on the machine. The browser should be configured to open links from the command line

I need help on this: #591

[2018-02-14 13:30] reckerswartz commented on #591
How about jasmine for testing e.g https://github.com/searls/jasmine-rails?

[2018-02-14 13:48] reckerswartz commented on #734
Sorry for distributing you.
you can close this issue.

[2018-02-14 13:55] reckerswartz commented on #734
as you said!
force validation on the password and email fields
worked fine.
wiki needs to be updated a little bit.
I will create edit or create the page on the wiki soon.

[2018-03-07 08:04] srsds opened #736 "client side not working in chrome"
### Steps to reproduce*

### Expected behavior*
Tell us what should happen

### Actual behavior*
Tell us what happens instead

### System configuration*
**Rails version**:

**Ruby version**:

**Client Side Validations version**:

### Code snippet from your model of the validations*

### The whole form code from your template*

### The resulting HTML*

### Browser's development console output*
_Ple

[2018-03-30 15:42] soulfly opened #737 "Validation should allow empty field value if use allow_nil: true"
I use the following validation in my Rails model:

[code]
Unfortunately it does not allow me to save empty field value, I'm getting the following error when submit a form:
![image](https://user-images.githubusercontent.com/373137/38143583-db8c0cb0-3449-11e8-90dd-473988f73d44.png)

Looks like it comes from here
https://github.com/DavyJonesLocker/client_side_validations/blob/master/coffeescript/rail

[2018-04-02 00:24] reckerswartz commented on #733
Hey,
can you tell me how can I regenerate javascript after modifying CoffeeScript?

[2018-04-03 09:11] soulfly commented on #737
@tagliala do you have any feedback here? I'm also happy to prepare a PR on my side, just let me know is it worth trying.

[2018-04-06 08:53] tagliala commented on #733
`rake regenerate_javascript`

if you run the test, the javascript will be automatically regenerated

[2018-04-06 09:02] tagliala commented on #737
@soulfly thanks, will do that by myself on the master branch. I will also check for other "allow_blank"

btw I will not fix the old 4.2 branch

[2018-04-06 09:48] soulfly commented on #737
Great thanks!

that's fine, I will port your changes by myself to some custom branch

[2018-04-07 12:55] #737 closed

[2018-04-07 12:55] tagliala commented on #737
@soulfly could you please give a try to the master branch?

[2018-04-09 10:11] soulfly commented on #737
Thanks @tagliala ! I will give it a try

[2018-04-16 07:08] IvanRomanovski commented on #630
Building on top of kyleramirez solution for displaying error only after confirmation field has been blurred, here is my solution which displays confirmation feedback messages after confirmation field. Include this code after you import 'rails.validations':

`ClientSideValidations.callbacks.element.fail = function(element, message, addError, eventData) {
  // if confirmation field is invalid only s

[2018-05-13 03:08] fleck commented on #692
Working on setting up an Vanilla JavaScript version  https://github.com/fleck/client_side_validations/tree/ES. I'm using rollup, I see you had mentioned using webpack, but for a library rollup is better suited. JS tests are passing and there's a lot of refactoring that could still be done. There are a couple of failing tests relating to copying assets. I can commit more time to this, but wanted to

[2018-05-13 10:40] tagliala commented on #692
@fleck thanks for your work, it looks good!

Please submit a PR, I will start a review there.

PS: at the moment I'm without my development machine, so please be patient

[2018-05-14 05:07] prodigerati opened #739 "Validations not working"
### Steps to reproduce*
When tabbing out of required field in a simple_form it throws the error below:
### Expected behavior*
I would expect html error that field is required.

### Actual behavior*
[code]

### System configuration*
**Rails version**:
Rails Version 5.2
**Ruby version**:
Ruby Version 4.2.1

**Client Side Validations version**:
client_side_validations 11.1.2
client_side_validations-s

[2018-05-14 08:46] tagliala commented on #739
Hi @prodigerati could you please post, as required

1. Validation snippet from your model
2. The resulting HTML

They are important

[2018-05-14 16:20] prodigerati commented on #739
Sorry, here is the model snippet:

EMAIL_REGEX = /[A-Z0-9._%+-]+@test.com/i

validates_presence_of :username, :email, :first_name, :last_name, :role_ids

validates :password,
            :password_confirmation,
            confirmation: true,
            length: { in: 6..25 },
            on: :create

  validates_presence_of :password, :password_confirmation, on: :create

  validates :password,

[2018-05-14 16:42] tagliala commented on #739
Thanks, now I should be able to check this... as soon as I get back my development machine from Apple.

PS: if the above regexp is not a mock or an example for this bug report, please avoid `/[A-Z0-9._%+-]+@test.com/i`: this will allow new lines, tabulations, spaces and other stuff you don't want in an email address.

Devise regexp for testing email: https://github.com/plataformatec/devise/blob/f2

[2018-05-18 21:11] prodigerati commented on #739
@tagliala any luck figuring this out? Thank you.

[2018-05-18 22:34] tagliala commented on #739
@prodigerati sorry, this will take a while on my side

[2018-05-20 15:34] tagliala commented on #739
Sorry for the late reply, I gave up with my machine and I will let my MBP drain battery instead of sleeping 🤷‍♂️

I'm able to replicate the issue with your form but I've noticed that you have some wrong settings:

![image](https://user-images.githubusercontent.com/556268/40280360-1f00988c-5c52-11e8-8cb3-c4e723f43137.png)

I would rather expect something like this:

![image](https://user-images.git

[2018-05-20 15:34] #739 closed

[2018-05-22 14:30] #736 closed

[2018-05-27 10:16] tagliala opened #741 "Move to ES6"
Follow up: #738

[2018-05-27 10:58] tagliala commented on #741
### Branch
https://github.com/DavyJonesLocker/client_side_validations/tree/move-to-es

### Issues

### 1. jQuery minimum version required

CSV works with jQuery 1.12.4+ and it is still compatible with IE8. This is not going to change if we just move from coffee to es6

Ref: https://github.com/rails/jquery-rails/blob/master/VERSIONS.md

### 2. The `/dist` folder.
Well, this is going way deeper than

[2018-05-27 11:00] tagliala commented on #741
@fleck

I'm getting the following error when compiling

[code]

yarn.lock
[code]

[2018-05-29 14:59] tagliala commented on #741
@fleck could you please take a look at this commit 5d56f8bddd68a1a54d137a39efa8fd05cecd9e83 ?

I want to separate the main JavaScript file into submodules, one for each validator

At the moment I don't know the best approach to do it and I'm not satisfied of the current implementation. Also, the numericality validator doesn't work because there is a circular dependency.

Let me know your thoughts

[2018-05-30 22:31] fleck commented on #741
Here's an example of a possible solution https://github.com/fleck/client_side_validations/tree/possible-module-pattern/src

[2018-05-30 22:37] fleck commented on #741
Move ClientSideValidations to it's own module, import that into main.
Move validations into their own modules and attach them like this: https://github.com/fleck/client_side_validations/blob/possible-module-pattern/src/validators/numericality.js
Then import in main any module you would like to attach to ClientSideValidations https://github.com/fleck/client_side_validations/blob/possible-module-pat

[2018-05-31 13:52] tagliala commented on #733
@reckerswartz I've implemented this in 191a265

[2018-06-28 12:49] maxence33 commented on #732
Hi @tagliala I am not as good as @dvodvo to report a problem insightfully but I experience the same problem with 2 forms on the same page ( Ruby 2.5, Rails 5.2)

This is regarding a Devise model where on my page I have two forms for the same model

`<%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>`

It works on the first form but not the se

[2018-06-28 12:56] tagliala commented on #732
@maxence33

Debugging CSV is time consuming, because it involves *almost* the whole application stack.

Please open a new issue and provide all the information required and I will take a look.

[2018-06-28 12:57] maxence33 commented on #732
Great thank you. I do this

[2018-06-28 20:23] maxence33 opened #746 "Only first form is client side validated in multiple form page"
### Steps to reproduce*

I have a view page with two forms for the very same Devise model "Professionnel". I have added those two forms to discriminate between two type of users : company and freelancers. All data is same but has a different presentation for each.

The two forms are offered on the html.erb view page and one of them is always hidden depending if a radio button is activated or not.

[2018-06-28 20:35] maxence33 commented on #746
There are 16 errors of duplicated IDs I probably have to give a specific ID to each of my forms fields for the second form to work.. (though not sure if the client_side_validated will take the customed ids in account ? )

[2018-06-29 08:45] tagliala commented on #746
Sorry, but I can't debug the issue because the information provided are not enough

Please keep in mind that there is a configuration parameter for forms to change the form prefix so you can have unique ids `namespace`

Ref: http://guides.rubyonrails.org/form_helpers.html#binding-a-form-to-an-object

[code]

[2018-06-29 08:49] #746 closed

[2018-06-29 09:40] maxence33 commented on #746
Thanks Geremia, I have now namespaced my forms with the correct helper but problem is still here. If I manage to properly debug my JS or provide a reproductible example I will add here.

[2018-07-18 07:31] dinatih opened #748 "How can we add custom remote validator without the ClientSideValidations::Middleware::Base like in the wiki"
wiki : https://github.com/DavyJonesLocker/client_side_validations/wiki/Custom-Validators#remote-validators
### System configuration

**Client Side Validations version**:
after this commit 35501c1b120a3d0d5b8a907e4edd6d7b826378e6

Is there another way to add custom remote validators, please ?

[2018-07-19 14:55] dinatih commented on #748
Thanks you @factor4 I will try that.

[2018-07-19 15:22] tagliala commented on #748
@factor4 thanks.

Still hadn't time to fix  the wiki

Please also be aware of information disclosure and DOS attacks: the above endpoints should be protected with something like [rack-attack](https://github.com/kickstarter/rack-attack)

[2018-07-19 15:30] #748 closed

[2018-07-24 14:46] tagliala commented on #748
Wiki updated: https://github.com/DavyJonesLocker/client_side_validations/wiki/Custom-Validators#remote-validators

[2018-09-21 04:07] kennyname opened #749 "is it possible to validate use traditional form tag instead of form builder?"
i hava a form and it has some nested fields, but there are some filed is show via ajax partial,
and partial must exist when page refresh, so i don't pass the form builder to partial, because keep form builder status is  complicate.

this is a part of my view
`<input type="text" placeholder="address" name="order[home_info_attributes][receiver_address]"
      class="form-control mb-1" autocomplete="

[2018-09-21 08:11] tagliala commented on #749
Hi,

It is not possible to validate `form_tag` forms

and partial must exist when page refresh

CSV supports nested fields. If your validation data contain rules to validate the new added fields, if yout nested fields name follow the standard `form_for` names and you initialize CSV on the newly added fields, it should work.

Please take a look here: https://github.com/DavyJonesLocker/client_side_v

[2018-10-08 12:09] reckerswartz commented on #696
@tagliala does it still not support form_with?

[2018-11-23 08:45] viktorsmari opened #751 "Is this gem available as a CDN link?"
Instead of using it 'the rails way' using the asset pipeline.

Something like adding
`<%= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js" %>`
in `application.html.rb`

[2018-11-23 10:12] tagliala commented on #751
Hi!

Thanks for being part of the Client Side Validations Community.

Given that you need the gem because it needs to monkey patch the rails `form_for` method, if you want the javascript port of CSV to be hosted on a CDN, please let me know if there is a service which does this for free and I will try to help you

[2018-12-12 09:32] #733 closed

[2019-01-16 13:56] symi opened #752 "validate: false will still binds focusout event"
If for example I have the following form where I want to validate all fields apart from one. I set `validate: true` on `form_for` and then `validate: false` for the field I wish to ignore.

[code]

CSV will not run the server code to calculate the validation rules for this model field so `validators` JSON blob on the form has no entry for `person[personal_email]` which is correct. However the JS w

[2019-01-18 18:39] #490 closed

[2019-01-18 20:10] tagliala commented on #752
Hi,

I've investigated this issue and I can confirm that there is something going on.

Anyway, `validate: false` (as well as the implicit `validate: true`) does not add information to the input element, so there is actually no chance to understand if a field is going to perform validation or if it doesn't.

`validate: false` removes the validation entry for its field in the `data-client-side-valid

[2019-01-18 20:10] #752 closed

[2019-01-21 07:05] symi commented on #752
For anyone that stubbles across this in the future. I ended up going down the additional class route. I use a custom form builder so might end up encapsulating the logic in there. Before CSV form helpers run check the options and if `validate: false` exists add my custom class to the html options.

Would like to use the `$element[0].form.ClientSideValidations.settings.validators[$element[0].name]`

[2019-02-28 14:40] tagliala opened #753 "Rails 6.0.0.beta2: breaking change in case sensitive uniqueness validator"
### Steps to reproduce*
rake

### Expected behavior*
Test pass

### Actual behavior*
[code]

### System configuration*
**Rails version**:
6.0.0.beta2

**Ruby version**:
2.6.1

**Client Side Validations version**:
master

### Code snippet from your model of the validations*
N/A

### The whole form code from your template*
N/A

### The resulting HTML*
N/A

### Browser's development console output*
_

[2019-02-28 18:38] tagliala commented on #753
Ref: rails/rails@6cb176cddfc1541da20da4e75b472c3405f6c933

[2019-02-28 20:41] #753 closed

[2019-02-28 20:52] tagliala commented on #753
# ⚠️ Potential Breaking Change!

The client-side uniqueness validation was ignoring the `case_sensitive: true` parameter.

## Scenario
- `User` Model
- Nested `Profile` model with email fields with uniqueness attribute
- Email 1: "test@example.com"
- Email 2: "TEST@example.com"

### Previous behavior
- Show a validation error

### New behavior
- Do not show a validation error

[2019-03-09 00:46] chibuezeayogu opened #754 "Error running rails g client_side_validations:install"
I followed the steps in the README.md
 -  I added the gem then ran the command `rails g client_side_validations:install`
and this is the error I got.

[code]
Please, I am I missing?